[2016-11-05 20:26] petrvanblokland opened #1 "Minor errors in flowing textBoxes"
- Unexpected initial space in text at start of paragraph.
- Error in connection between flows of textBoxes
- To much whitespace before and after <sup> tags.

[2016-11-05 20:27] petrvanblokland opened #2 "Images show in wrong size"
- Show images in right size in designated containers.
- Add galley size negotiation between image and caption.

[2016-11-05 20:28] petrvanblokland opened #3 "Images inside text flow"
Make possible to show image inside text flow.
Needs composer to add elements to galley, and split elements into multiple.

[2016-11-05 20:29] petrvanblokland opened #4 "Make <hr> work"
- As galley elements or inside FormatterString, using markers.  Or optional both.

[2016-11-05 20:31] petrvanblokland opened #5 "Baseline grid"
Make elements dynamically lock on baseline grid, by manipulating the leading+pre/post leading.
Needs calculate of internal FormattedString line positions.

[2016-11-05 20:32] petrvanblokland opened #6 "Smalles hyphenation part"
Is there a way to influence the smallest part (start and tail) of hyphenation parts by OSX?

[2016-11-05 21:15] petrvanblokland opened #7 "Cascaded style dicts fill all their attributes in a FormattedString."
This seems to be lot of overkill, as most of the values remain the same.
Better to make getFormattedString(fs, style) check against the current gState, before setting a new FS-attribute.

[2016-11-05 21:41] petrvanblokland opened #8 "Rootstyle baselinegrid and style p.leading don't seem to sync."

[2016-11-06 02:06] #2 closed, assigned to nobody

[2016-11-06 02:06] petrvanblokland opened #9 "Show Galley with image and caption combination"
Add galley size negotiation between image and caption.

[2016-12-08 20:11] petrvanblokland opened #11 "Some essentials to be solved for ThesisBot."
Thesis Footnotes example to work
Thesis Literature reference to work
Thesis Table of content to work
Thesis Captions
Thesis Keep images in right proportions, included in container.
Problem with repeating text after inline tags
Overflow between columns FS not in sync
Image padding does not work.

[2017-01-03 09:31] michielkauwatjoe opened #12 "Requirements"
See TypeNetwork/TnTools#240.

[2017-01-03 09:36] michielkauwatjoe opened #13 "Embed Templates"
Run template scripts inside separate Cocoa environment, i.e. outside DrawBot application..

[2017-01-03 09:37] michielkauwatjoe opened #14 "Save PDF Context"
Take data from PDF context and save to file.

[2017-01-04 19:09] #13 closed, assigned to michielkauwatjoe

[2017-01-05 09:07] #14 closed, assigned to michielkauwatjoe

[2017-01-05 09:20] michielkauwatjoe opened #15 "Errors Output"
Write errors to separate window.

[2017-01-05 10:23] #15 closed, assigned to michielkauwatjoe

[2017-01-05 10:27] michielkauwatjoe opened #16 "Exported Images"
... shouldn't be used in templates.

[2017-01-05 11:04] michielkauwatjoe opened #17 "SlowFashion template: typesetFilibuster needs filename"
[code]

[2017-06-20 18:49] davelab6 opened #18 "A better constant for the Z axis "MIDDLE""
In [style.py](https://github.com/TypeNetwork/PageBot/blob/6b80c9261fa9d7eb29d4bc16c951b6dec17e5f71/Lib/pagebot/style.py#L129) @petrvanblokland  suggested that `MIDDLE` is used twice, for 2 different dimensions, and uses `CENTER` for the first.

Some ideas:

* medial
* mezzo
* intermediate
* between
* betwixt
* inner
* halfdeep

[2017-06-21 01:03] MauriceMeilleur opened #20 "Text from view.element.info falling outside box"
See attached images. Code that generated it below.

<img width="664" alt="screen shot 2017-06-20 at 21 02 42" src="https://user-images.githubusercontent.com/27898556/27362339-cd0e7fa6-55fb-11e7-9fe4-1c114e4b2319.png">
<img width="498" alt="screen shot 2017-06-20 at 21 02 52" src="https://user-images.githubusercontent.com/27898556/27362340-cdf0d6f8-55fb-11e7-8d19-344e5de0d2cd.png">

***
from pagebo

[2017-06-21 12:43] #20 closed, assigned to nobody

[2017-06-21 12:43] petrvanblokland opened #21 "Position of measuring dimension lines is off."

[2017-06-21 12:47] petrvanblokland opened #22 "# UseShadow.py text shadow of text on "own" box should be masked by that box."
Currently the shadow falls off from its box. It is ok if the box itself doe not have shadow, but otherwise the text shadow should not be visible outside the text box.

[2017-06-21 12:48] petrvanblokland opened #23 "Add UseGradient.py example"

[2017-06-21 12:48] petrvanblokland opened #24 "Better Galley drawing."

[2017-06-21 16:22] shannpersand opened #25 "Error when running UseMarkDownText.py"
Without changing code, just running example returns this error
![image](https://user-images.githubusercontent.com/4615568/27395001-41369276-567c-11e7-9b89-52830102b27c.png)

[2017-06-22 11:07] MauriceMeilleur opened #26 "(should-be) known good documents are throwing TypeError: initializeStyles() takes exactly 2 arguments (3 given)"
Docs created yesterday in the workshop that should be working are throwing this error:
Traceback (most recent call last):
  File "TextAssignment.py", line 20, in <module>
  File "/Users/meilleurmj/Desktop/git/PageBot/Lib/pagebot/document.py", line 33, in __init__
TypeError: initializeStyles() takes exactly 2 arguments (3 given)

For example, running TextAssignment.py yields this error.

[2017-06-22 12:18] #26 closed, assigned to nobody

[2017-06-22 13:30] MauriceMeilleur opened #27 "unsupported operand type(s) for -: 'NoneType' and 'int'"
Trying ResponsiveTextBox in examples, got this error:

Traceback (most recent call last):
  File "ResponsiveTextBox.py", line 159, in <module>
  File "/Users/meilleurmj/Desktop/git/PageBot/Lib/pagebot/document.py", line 390, in export
  File "/Users/meilleurmj/Desktop/git/PageBot/Lib/pagebot/elements/views/view.py", line 133, in export
  File "/Users/meilleurmj/Desktop/git/PageBot/Lib/pagebot/elem

[2017-06-22 13:32] MauriceMeilleur opened #28 "TypeError: 'objc.NULL_type' object has no attribute '__getitem__'"
Trying the HotMetalType example, got this error. I promise that my goal is one day to offer a constructive fix or suggestion, or to at least write code to file issues on my behalf in prose that engages and delights the reader.

*** DrawBot warning: font: Productus-Book is not installed, back to the fallback font: LucidaGrande ***
*** DrawBot warning: font: Productus-Medium is not installed, back t

[2017-06-22 19:52] davelab6 opened #32 "Bundle markdown module?"
Despite https://github.com/TypeNetwork/PageBot/pull/31 markdown isn't bundled by pagebot, nor Drawbot.app, and so some examples don't work out of the box.

[2017-07-28 23:37] MauriceMeilleur opened #37 "'Unable to merge unrelated histories in this repository'"
Trying to jump back in, but I'm not able to update my local repository with the GitHub desktop client—sorry for such a basic request, but can someone give me a hand with this?

[2017-07-28 23:38] petrvanblokland commented on #37
On case you didn’t change anything to nothing you want to keep,
that it is best to set your version apart and do a new checkout.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611

[2017-07-29 00:14] MauriceMeilleur commented on #37
Thanks, Petr! I'll give that a try.

[2017-07-29 00:14] #37 closed

[2017-07-31 13:08] MauriceMeilleur commented on #37
Happy to. I've got a folder full of options—any favorites?

[2017-09-18 20:36] felipesanches opened #39 "docs versus Docs (directories)"
I wonder why these similarly named directories co-exist at the root of the project tree:

![screenshot at 2017-09-18 17 34 35](https://user-images.githubusercontent.com/213676/30563301-d5dd6092-9c97-11e7-80c5-58e6b6b25b5c.png)

[2017-09-18 21:30] felipesanches opened #40 "GNU+Linux support"
![screenshot at 2017-09-18 18 24 46](https://user-images.githubusercontent.com/213676/30565561-242d7e74-9c9f-11e7-9a71-8ec7066d4652.png)

https://en.wikipedia.org/wiki/Core_Text

I think @davelab6 mentioned something about someone working on an implementation of a free software substitute for that already?

I'd love to contribute to PageBot once this issue is sorted out.

cheers,
Felipe Sanches

[2017-09-18 22:44] petrvanblokland commented on #39
docs is the documentation website, automatically generated from content inside.
@michielkauwatjoe can tell more about that.

[2017-09-18 22:50] petrvanblokland commented on #40
Nobody that I know of works on PageBot implementation running outside
It would be interesting to to have one running on Google Apps Python server.
What needs to be implements is the imports in DrawBot (rect, oval, text, and such) and make the ones in TextBox conditional. The CoreText is used by TextBox FormattedString, to know where lines and runs are located. And to calculate overflows of text.
I

[2017-09-18 23:14] felipesanches commented on #40
thanks, Peter!

[2017-09-19 00:23] davelab6 commented on #40
http://xxyxyz.org/flat is the library and http://xxyxyz.org/even is the ui app

[2017-09-19 00:27] davelab6 commented on #40
I don't have any sense when Qt will support variable fonts, but everything else should be possible to do with Flat.

Cc @sukop

[2017-09-19 00:49] petrvanblokland commented on #40
Interesting. Let's see on what level we can make it compatible.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
-----------------------------------------------
Rietveld 5

[2017-09-19 01:38] davelab6 commented on #40
The goal I have in mind (and I think Felipe shares, given his "naieve" attempt to run `TypographicPoster.py`) is that running PageBot on GNU or macOS shouldn't matter and everything works the same; this requires (2) I think :)

[2017-09-19 01:41] petrvanblokland commented on #40
That would work for 1) and 2). Currently the a view already decides whether to call page.draw(...) or page.build(...). A view can figure out if DrawBot is available or Flat.
Leaving "Flat-knowledge" available for elements, means that they can optimize for the output device, which is harder with an intermediate layer.

[2017-09-19 01:50] davelab6 commented on #40
Oh! Very good!! :) Yes, elements accessing this directly could open interesting possibilities - I think there are some thing Flat/Drawbot can do that the other can not, due to differences in the underlying platforms which they wrap, and there will surely be other drawing platforms in the future... :)

[2017-09-19 01:59] petrvanblokland commented on #40
It's the trade-off between redundancy in code and flexibility.
In the past we've tried a lot in hiding in layers, but practice is always that you can the least average of all environments, not the sum of all.
I think for now I'd got with adding a e.flat(...) method to the Element class and inheriting classes, so there is distributed knowledge how to call the API in an optimized way. Also it has th

[2017-09-19 02:04] petrvanblokland commented on #40
Variable fonts will already work, because PageBot+fonttools save instances as TTF/CFF that are then installed as regular fonts. Same way as it now works in DrawBot.

[2017-09-19 08:42] michielkauwatjoe commented on #39
@felipesanches @petrvanblokland we recently renamed it from docs to Docs; apparently something went wrong. Thanks, I'll see if I can fix it today!

[2017-09-19 10:13] petrvanblokland commented on #40
Currently making drawBotBuilder as abstract builder, so we can add flatBuilder.
Big adjustment, needs some testing.

[2017-09-19 11:22] davelab6 commented on #39
This is likely a Mac OS X case insensitivity issue

On Sep 19, 2017 4:42 AM, "Michiel Kauw–A–Tjoe" <notifications@github.com>
wrote:

[2017-09-19 11:46] felipesanches commented on #39
How Insensitive !

https://www.youtube.com/watch?v=uWiL5XuJLQo

[2017-09-19 12:06] michielkauwatjoe commented on #39
Should be fixed now, you might need make a new clone if you're on OS X...

[2017-09-19 14:52] petrvanblokland commented on #40
I'm probably working for the rest of the coming days weaving together flat and drawbot as separate views and builders.
It's a major operation, but it's also good to separate all the hidden calls that are typically drawbot. Result seems to be very promising, but there's some huge moving of methods and renaming necessary. So we'll need some time to get all examples to run again.
Examples made outsid

[2017-09-19 15:04] felipesanches commented on #40
Awesome! Thanks a lot for this work, Petr !

[2017-09-19 15:30] davelab6 commented on #40
I think that is a very interesting point, to add to the introductory documentation about the code architecture :)

Oh!! I didn't appreciate this; I (mis)remembered from the Typographics workshop that the CoreText FormattedString was what powered variable fonts support, I didn't understand it was 'pogo' style :)

Perhaps @felipesanches can help with that

[2017-09-19 15:49] petrvanblokland commented on #40
@felipesanches What is the closest equivalent of OSX FormattedString that we could get in Flat? Plain unicode string? Or HTML tagged? Or something else?

[2017-09-19 16:09] felipesanches commented on #40
I'll have to dive into it for a while before being able to answer that question. But I'd be delighted to do so.

[2017-09-19 17:05] felipesanches commented on #40
I'm new to flat (just heard of it from @davelab6 this morning here in this thread). The kind of work done by FormattedSting in DrawBot seems to be similar to things that pango and harfbuzz do such as describing a layout, applying styles to chunks of text and then performing itemization/shaping.

If I got it right, then it seems that this code in flat does some portion of that:
https://github.com/x

[2017-09-19 17:44] davelab6 commented on #40
Yes, the closest equivalent of macOS FormattedString is `flat.text.strike()` http://xxyxyz.org/flat#reference

[2017-09-19 18:44] sukop commented on #40
Hello!

I'm not quite up to speed with your effort but here are few notes that might be useful:

For the purpose of interop, I think the greatest difference is that DrawBot follows PostScript way of drawing, i.e. there is a global graphic state of which properties such as line width and color can be altered and which is then used for painting. Whereas in Flat one creates instances of style (drawin

[2017-09-19 19:06] petrvanblokland commented on #40
Implementing the space to hold that next to OSX-FS and tagged string.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
-----------------------------------------------
Riet

[2017-09-19 19:09] petrvanblokland commented on #40
PageBot can support both ways, because all drawing is done in one recursive drawing call, which can go either way to different methods. Until then all Element instances keep their data inside, which can be altered and moved until rendering starts.

Thank you for now.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
b

[2017-09-21 09:57] #39 closed

[2017-10-03 20:03] felipesanches commented on #40
@petrvanblokland Let me know if there's any way I can help here. I may be able to dedicate some time to this effort next Thursday and Friday.

[2017-10-03 21:14] petrvanblokland commented on #40
Currently dividing my type between PageBot, Variable font spec and TYPETR new releases. So a bit slower than last week.
Basically the structure is there, supporting contexts now that can include DrawBot, Flex or others as drawing canvas, and views that make the difference of the type of output (drawing, HTML/CSS, movie) with their parameters.
I did not manage to get all examples back on track for

[2017-10-19 15:01] felipesanches commented on #40
hey, @petrvanblokland ! I considered looking at this in more detail today and by reading your previous message here I had the impression that some new code was written based on the discussions of this github issue thread. But looking at the master branch I don't see any new commit related to this. Perhaps your working on a separate branch for this?

[2017-10-19 15:02] felipesanches commented on #40
OK. I think I found it. It seems to be the **new_views_builder** branch, right?
Also, it seems to me that your first commit related to this issue was this: https://github.com/TypeNetwork/PageBot/commit/bf071b6b6e57edf2543ed8832c4dbbc8e7691676

Can you confirm that?

[2017-10-19 15:08] felipesanches opened #42 "Syntax error on pagebot/elements/element.py"
While trying to do sudo python setup.py install on the **new_builders_branch** I got this syntax error:

![screenshot at 2017-10-19 13 06 10](https://user-images.githubusercontent.com/213676/31778021-54723498-b4ce-11e7-970c-5fb402d42b54.png)

I'll send a pull request with a fix for that now.

[2017-10-19 15:10] petrvanblokland commented on #40
Yes, that is right

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
-----------------------------------------------
Rietveld 56 2611 LM Delft The Nether

[2017-10-19 15:16] felipesanches commented on #40
Thanks!

Please merge the trivial syntax error fix at https://github.com/TypeNetwork/PageBot/pull/43

[2017-10-19 15:35] #42 closed

[2017-10-19 15:44] felipesanches commented on #40
There's a relevant comment at https://github.com/TypeNetwork/PageBot/commit/fe192ee28678bb4bb3226673636cdbababdf4496

@petrvanblokland said at that commit:

[2017-10-19 15:45] felipesanches commented on #40
I'm looking for an example of a script that was already "upgraded" to not call drawBot directly. So that I could replicate that kind of refactoring in all the other examples.

[2017-10-19 15:49] petrvanblokland commented on #40
Look for sources that do this
from pagebot.contexts import defaultContext
They should be aware of the new layer.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdes

[2017-10-19 15:50] felipesanches commented on #40
cool, thanks!

[2017-10-19 15:51] petrvanblokland commented on #40
A context contains a context.b which is the real builder (Flex or DrawBot) module.
This means we can use the extending API of the contexts, but in the mean time (or of there is code directly addressing deep in a context), the builder (canvas) is available. as context.b

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.

[2017-10-19 16:20] felipesanches opened #44 "'Variable' is not defined on Examples/Howto/DrawSpirals.py"
![screenshot at 2017-10-19 14 19 20](https://user-images.githubusercontent.com/213676/31782009-8aba52ec-b4d8-11e7-9bc1-3fa52bd50cc5.png)

[2017-10-19 16:21] felipesanches commented on #44
@petrvanblokland I'll probably open more minor issues like this one to keep track of problems I find and afterwards I can get back to fixing them (or someone else can get a chance to contribute a fix as well). Are you cool with that ?

[2017-10-19 16:52] petrvanblokland commented on #44
Yes, the Context convert created a lot of loose ends.
I can add you to writers, so you can commit yourself.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.s

[2017-10-19 16:54] petrvanblokland commented on #40
Not easy to test for me, because I am in DrawBot/IOX by default.
Tanks for testing and fixing

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
---------

[2017-10-19 17:22] felipesanches commented on #44
thanks! :-)

[2017-10-19 17:44] felipesanches commented on #40
yeah. I'll try to fix. But sometimes I'll need some of you OSX users to test my changes so that we make sure I haven't broken some drawBot-related code. I do not have access to an OSX system (neigther am I planning to have one :-P)

[2017-10-19 17:52] felipesanches opened #45 "several places where newFS can't be found"
newFS seems to be a helper function wrapping around FormattedString. I found several places where scripts use this, but crash with an undefined reference. It seems to me that the goal was to place this into the pagebot module. Some scripts actually do `from pagebot import newFS` such as this one (DrawViewPageFrame.py):

![screenshot at 2017-10-19 15 50 03](https://user-images.githubusercontent.com

[2017-10-19 18:14] felipesanches opened #46 "[GNU+Linux] AppKit module is missing (what is that?)"
I don't even know what's `AppKit` and which role it fullfils in the code base. I simply noted that the vast majority of example scripts (if not all of them) depend on it. I'll have to look at it more carefully later, but I'd appreciate if you could talk a bit about this specific dependency, @petrvanblokland :

![screenshot at 2017-10-19 16 08 48](https://user-images.githubusercontent.com/213676/31

[2017-10-19 18:20] felipesanches commented on #46
I guess this is it:
https://pypi.python.org/pypi/AppKit/0.2.8

[2017-10-19 18:23] felipesanches commented on #46
I installed it, but I still failed to load it on these scripts.

Testing with ipython I noticed that the module is available as `appkit` instead of `AppKit`

![screenshot at 2017-10-19 16 22 58](https://user-images.githubusercontent.com/213676/31787236-da6ba21c-b4e9-11e7-87d0-d872e2effd56.png)

[2017-10-19 18:24] felipesanches commented on #46
Does `import appkit` work as well on MacOSX ?

[2017-10-19 18:26] felipesanches commented on #46
Hmmm... I think we're talking about different libraries with similar names:

https://developer.apple.com/documentation/appkit

[2017-10-19 18:30] petrvanblokland commented on #40
No problem, we can test.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
-----------------------------------------------
Rietveld 56 2611 LM Delft The

[2017-10-19 18:30] felipesanches commented on #46
These are the files that mention AppKit:

![screenshot at 2017-10-19 16 30 27](https://user-images.githubusercontent.com/213676/31787534-de01718a-b4ea-11e7-8c61-96974e61c10b.png)

[2017-10-19 18:32] petrvanblokland commented on #46
All AppKit should be removed from the Flex side of context.
If it is still there, it should become part of the DrawBotContext and we have to find an alternative way of doing it in Flex.
Or make it clear that on that side the feature is not implemented.
So no open from AppKit import * anymore in scripts.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblok

[2017-10-19 18:33] petrvanblokland commented on #46
Yes, it does

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands

[2017-10-19 18:42] petrvanblokland commented on #45
newFS is old.
Delete imports.
All of them should be replaced by context.newString( )

Those I ones I did not change yet.

It is already there, renamed as context.newString( )
This creates a BabelString instance bs, that holds bs.s (which is a FormattedString in DrawBotContext and newly to develop formatted string type for Flex)

-----------------------------------------------
Petr van Blokland | t

[2017-10-19 18:46] felipesanches commented on #45
great!

[2017-10-19 19:15] felipesanches commented on #45
I'm making bulk edits to replace newFS with context.newString, but I cannot test this yet since there are other issues such as #46

Also I'm doing self.context to get the context when the code is within a class inheriting from Document

[2017-10-19 19:15] felipesanches commented on #45
Once I finish thisI would be glad to have you test it and merge.

[2017-10-19 19:17] felipesanches opened #47 "non-keyworkd arg after kw-arg on Examples/FunctionTesting/automaticPageComposition.py"
![screenshot at 2017-10-19 17 16 55](https://user-images.githubusercontent.com/213676/31789586-5c8fa67e-b4f1-11e7-932a-83d6d2a1a28f.png)

[2017-10-19 19:20] felipesanches opened #48 "context is not defined on Examples/FunctionTesting/testFormattedTextLeading.py"
![screenshot at 2017-10-19 17 19 44](https://user-images.githubusercontent.com/213676/31789702-bb70157a-b4f1-11e7-9472-afdd5a2816dd.png)

[2017-10-19 19:20] felipesanches commented on #48
This is after removing newFS (see wip at #45).

[2017-10-19 19:22] felipesanches commented on #48
same on Examples/FunctionTesting/testTextBoxPosition.py

[2017-10-19 19:23] petrvanblokland commented on #45
Yes that is good.
Some design things to consider. though:
In normal documents there is always a Document around that holds the current context, but there are exceptions:
- Some demo scripts don’t make a Document, because they only show a certain aspect. They will use the “from pagebot.contexts import defaultContext as c” (c to make many references shorter code, not necessary)
- Some classes don’t

[2017-10-19 19:24] petrvanblokland commented on #45
Sure

I had a strange error for BabelString, when generating by Typesetter from an etree/MacDown document.
Something with leaking memory. Not solved yet. Should be come an issue.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
--------------

[2017-10-19 19:26] felipesanches commented on #48
same on Examples/Howto/DB_TestFormattedStrings.py

[2017-10-19 19:33] felipesanches commented on #48
@petrvanblokland what should be the context when the script lacks a Document object ?

[2017-10-19 19:39] petrvanblokland commented on #48
from pagebot.context import defaultContext
or
from pagebot.context import defaultContext as c

See the context.__init__.py file, where is decided what works on the current platform.
Script can still overwrite that, e.g. for testing Flex on a Mac, even within DrawBot. by adding:

from pagebot.contexts import FlexContext
defaultContext = FlexContext( )

----------------------------------------------

[2017-10-19 19:52] felipesanches opened #49 "'textSize' is not defined on Examples/Howto/DB_TestFormattedStrings.py"
![screenshot at 2017-10-19 17 51 56](https://user-images.githubusercontent.com/213676/31791072-40ff1bb0-b4f6-11e7-857e-ff91add8f3d9.png)

[2017-10-19 19:52] felipesanches commented on #48
alright! Thanks

[2017-10-19 19:57] felipesanches opened #50 "name 'stroke' is not defined on Examples/FunctionTesting/testFormattedTextLeading.py"
![screenshot at 2017-10-19 17 57 11](https://user-images.githubusercontent.com/213676/31791326-f6728da6-b4f6-11e7-8582-daf6931c2484.png)

[2017-10-19 19:59] felipesanches commented on #48
OK. I've addressed this problem now.

[2017-10-19 19:59] #48 closed

[2017-10-19 20:40] felipesanches commented on #45
@petrvanblokland  Please take a look at the commit above (https://github.com/felipesanches/PageBot/commit/2fe7ab54c016a524563874b0bd4b9d4c8b598d09)

In case that looks good, I'll be doing the same with the rest of the codebase before sending a pull request.

[2017-10-19 20:55] petrvanblokland commented on #50
All stroke( ) will be c.stroke( )

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
-----------------------------------------------
Rietveld 56 2611 LM D

[2017-10-19 20:57] petrvanblokland commented on #48
context comes from document.context
Or from element e, which queries upwards, until it reaches document
Or view (as they are elements too), refer to their documents,context as well

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
------------

[2017-10-19 20:58] petrvanblokland commented on #47
Should be prevBox=flowId0

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space
-----------------------------------------------
Rietveld 56 2611 LM Delft The

[2017-10-19 21:07] felipesanches commented on #48
Thanks!

[2017-10-19 21:10] felipesanches commented on #45
important observation from @petrvanblokland  at https://github.com/TypeNetwork/PageBot/issues/48#issuecomment-338035718 to take into account during the refactoring:

[2017-10-20 20:15] felipesanches opened #51 "cannot import name textBoxBaseLines on Examples/TYPETR/Bitcount/BitcountReference.py"
![screenshot at 2017-10-20 18 14 38](https://user-images.githubusercontent.com/213676/31840114-99192472-b5c2-11e7-9fef-b0539389a1da.png)

[2017-10-20 20:24] petrvanblokland commented on #51
That must all go inside the DrawBot context, with API directing to context.b
It finds the vertical metrics of FormattedStrings, not available in Flex.
Then we can later look in what way Fles does implement this, for its version of formatted string.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.

[2017-10-20 20:30] felipesanches commented on #51
cool!

[2017-10-20 20:30] felipesanches commented on #51
same with Examples/TYPETR/Bitcount/scripts-in-progress/BitcountAxes.py

[2017-10-20 20:31] felipesanches opened #52 "What's the point of import/reload/import ?"
[code]

[2017-10-20 20:31] felipesanches commented on #52
That's used on Examples/TYPETR/Bitcount/scripts-in-progress/BitcountAxes.py

[2017-10-20 20:34] petrvanblokland commented on #52
reload(pagebot)
import pagebot
and just keep the
import pagebot

It is used in debugging, do DrawBot does not have to restart every time is a source changes.
Should be cleaned afterwards.
-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
------

[2017-10-20 22:21] felipesanches commented on #40
hey, @petrvanblokland I'd appreciate if you could setup permissions so that I can perform merges of my own pull requests.

[2017-10-20 22:22] felipesanches commented on #40
For merging things like PR #53

[2017-10-20 22:22] petrvanblokland commented on #40
I already did that.

[2017-10-20 22:23] felipesanches commented on #40
I still see this message though:

![screenshot at 2017-10-20 20 23 11](https://user-images.githubusercontent.com/213676/31843946-9094004e-b5d4-11e7-9f22-a4d590b667aa.png)

[2017-10-20 22:25] #45 closed

[2017-10-20 22:26] felipesanches commented on #40
OK. I've just got your email and joined the team.

Thanks !

![screenshot at 2017-10-20 20 25 29](https://user-images.githubusercontent.com/213676/31844006-eacc4bde-b5d4-11e7-90da-5d495adcbf5b.png)

[2017-10-24 03:12] felipesanches commented on #44
In this specific case, I think we should add explicit imports to the Variable method. For command line invocations, these variables should automatically feed argparse so that a -h/--help command-line attribute can automatically display the script description and usage instructions (with all available custom attributes - the "variables" of the script).

And if the script is loaded on drawBot on Mac

[2017-10-24 03:30] felipesanches opened #54 "How are output targets chosen?"
@petrvanblokland I understand that the idea of PageBot is that scripted documents can be automatically translated into many different output formats such as PDF, HTML, PNG, animated-GIFs, etc. And I think that the `pagebot.contexts` are the technical means for implementing these different rendering environments.

I also understand that pagebot contexts are being used to support cross-platform back

[2017-10-24 03:34] felipesanches commented on #54
I think that explicit file formats could (perhaps should?) be avoided and that there could be a way to select the desired output format with a standard set of command line attributes that can be consistently used throughout the codebase (for instance, for all provided examples and also for any user scripts).

Similar to the suggested usage of argparse for the command-line version of "Variables" as

[2017-10-24 03:42] felipesanches opened #55 "Setup automated code tests to run on Travis on every pull-request (and on new commits in the master branch)"
A caveat is that Travis runs on GNU+Linux, so probably the existing code tests will all fail in the current state of the codebase. And also I don't see how the MacOS-specific portions of the codebase could benefit from automated code tests.

A good thing, on the other hand, is that this can help us gradually improve the quality of the code and move step-by-step in the direction of making it into a

[2017-10-24 07:03] anthrotype commented on #55
Travis CI can run on macOS too.

[2017-10-24 09:40] justvanrossum commented on #55
Also, DrawBot works "headless" as a module, so non-interactive tests are certainly possible. We actually should set this up for DrawBot itself...

[2017-10-24 11:10] felipesanches commented on #55
Thanks! I did not know about that yet :-)

[2017-12-04 20:58] felipesanches commented on #40
@petrvanblokland I'm back at it today!

Back when I last dealt with it I ended up making several miscellaneous code changes attempting to adapt the code to become truly cross-platform. I was still unable to run even a simple script on GNU+Linux.

I tried to create some simple / minimal example script but the best I was able to get was a blank PDF as output.

I'll continue tweaking the codebase her

[2017-12-04 21:04] felipesanches commented on #54
@petrvanblokland This is something that I've been wondering about.

[2017-12-05 17:38] petrvanblokland commented on #40
Let’s coordinate some very small samples, to get them to work.
I’ll work on this tomorrow and point you to them.
P

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The

[2017-12-05 17:41] petrvanblokland commented on #54
Same scripts generate all kind of output, depending on the extension of the file. If you do several exports with different file names in DrawBot, then it creates multiple files. Of course the name can be constructed from a selection or loop.

[2017-12-05 18:19] felipesanches commented on #40
Great! Thanks!

[2017-12-05 18:23] felipesanches commented on #54
thanks

[2017-12-05 18:23] #54 closed

[2017-12-06 08:11] petrvanblokland commented on #54
See FlatContext.saveDocument(path, multiPage=True) that makes checks on type of document and multipage export. This makes the FlatContext.saveDocument (identical to FlatContext.saveImage) compatible with the existing method in the DrawBotContext.

[2017-12-06 08:45] petrvanblokland commented on #40
We have the first small script to work: HelloCircleSquare.py, making 3 png files with random circles and square.
The Flat flavour BabelString needs to implement
text = s # TODO: make font-->strike-->text in flat.

[2017-12-06 08:47] petrvanblokland opened #56 "FlatString(BabelString) implementation"
Get FlatString.newString to work.
text = s # TODO: make font-->strike-->text in flat.

How to get the font(path) platform independent paths?

[2017-12-06 09:40] petrvanblokland opened #57 "Color types relate to expor"

[2017-12-06 09:40] petrvanblokland opened #58 "Color types rela"

[2017-12-06 09:42] petrvanblokland opened #59 "In flat color types are strictly bound to export file format"
We need to make this more independent: drawing without knowing the export format in advance. Or checking on the current format and adjust the color types automatic to what Flat expects.

[2017-12-06 13:07] felipesanches commented on #40
thanks, @petrvanblokland !

[2017-12-06 13:21] petrvanblokland commented on #40
Once we have rudimentary formatted text functions (through FlatString(BabelString) usage), we can start making documents+elements works with Flat.

[2017-12-06 16:54] felipesanches commented on #40
HelloCircleSquare.py working nice on GNU+Linux !

![screenshot at 2017-12-06 14 54 01](https://user-images.githubusercontent.com/213676/33673970-62a6d22a-da95-11e7-86d2-95bea2befd69.png)

[2017-12-06 16:55] felipesanches commented on #40
I suppose that with that first **major** step I can slowly start expanding support for all the rest! :-)

[2017-12-06 17:47] petrvanblokland commented on #40
I'll work from the other side, making more existing examples work through context.

[2017-12-06 17:50] petrvanblokland opened #60 "Amstelvar and Decovar show wrong order contours."
Leaving holes in overlapping contours. This does not show with other applications using the font. Is is a PageBot or font tools problem?

[2017-12-06 18:13] justvanrossum commented on #60
How are the fonts rendered?

[2017-12-06 18:17] felipesanches commented on #60
Please mention in issues like this one which example script (if any) in the ``Examples/`` directory can replicate the issue. Otherwise, it would be good to include an additional example with that purpose.

[2017-12-06 18:19] felipesanches commented on #60
Surely I could craft a new script myself, but that's error prone. Ideally reports should generally come with a description of how to quickly/easily replicate the problems.

[2017-12-06 18:30] davelab6 commented on #60
This is probably a macOS problem - their renderer has had this kind of problem for ages :(

[2017-12-06 18:31] davelab6 commented on #60
Eg https://github.com/TypeNetwork/fb-Amstelvar/issues/22

[2017-12-06 18:33] davelab6 commented on #40
VERY EXCITING!!! :D

[2017-12-06 18:38] felipesanches commented on #40
:-D

[2017-12-06 22:14] petrvanblokland commented on #60
Dave, is it ok to add some Google fonts in PageBot/Fonts, in separate Google folder, license file, etc.
Then we can be sure they are there.
If yes, which would you recommend from strategic point of view?
Also would be good if they are interpolating, so we can make them into other weights or save as Var fonts instances.
P

-----------------------------------------------
Petr van Blokland | twitter+

[2017-12-07 00:32] davelab6 commented on #60
Sure! One folder per project is ideal, can be per nameid 16 family too.

@m4rc1e has some beta VF fonts made from projects that had interpolation
sources lying around. @twardoch also has some in his GitHub account, like
ZinZin and Voto

On Dec 6, 2017 5:14 PM, "Petr van Blokland" <notifications@github.com>
wrote:

[2017-12-07 00:32] davelab6 commented on #60
Adams might be the most interesting for "strategy" reasons

On Dec 6, 2017 7:30 PM, Dave Crossland <dave@lab6.com> wrote:

Sure! One folder per project is ideal, can be per nameid 16 family too.

@m4rc1e has some beta VF fonts made from projects that had interpolation
sources lying around. @twardoch also has some in his GitHub account, like
ZinZin and Voto

On Dec 6, 2017 5:14 PM, "Petr van Blokla

[2017-12-07 11:38] #46 closed

[2017-12-07 11:41] #50 closed

[2017-12-07 11:44] #49 closed

[2017-12-07 12:26] #47 closed

[2017-12-07 12:29] felipesanches opened #64 "ImportError: pagebot.page"
![screenshot at 2017-12-07 10 29 09](https://user-images.githubusercontent.com/213676/33715398-7e549698-db39-11e7-9978-c5e5441d0009.png)

[2017-12-07 12:31] felipesanches commented on #64
problem here is at:
[code]

I think this should be:
[code]

[2017-12-07 12:38] felipesanches opened #65 "ImportError: cannot import name getFormattedString"
![screenshot at 2017-12-07 10 36 55](https://user-images.githubusercontent.com/213676/33715714-ae5f1b28-db3a-11e7-87cd-a086317a35cc.png)

[2017-12-07 12:42] felipesanches commented on #65
Seen in these files:
* PageBot/Examples/CorporateIdentities/Pepper+Tom/SkirtLabel-TODO.py
* PageBot/Examples/CorporateIdentities/Pepper+Tom/Stationary-TODO.py

[2017-12-07 12:47] felipesanches opened #66 "Error: Non-ASCII char on file"
![screenshot at 2017-12-07 10 46 11](https://user-images.githubusercontent.com/213676/33716093-f75cd896-db3b-11e7-8fa1-4aee3826fb6e.png)

[2017-12-07 12:54] felipesanches opened #67 "ImportError: No module named myglobals"
![screenshot at 2017-12-07 10 54 16](https://user-images.githubusercontent.com/213676/33716354-02fbb568-db3d-11e7-9110-c0791d1e00a9.png)

[2017-12-07 12:55] felipesanches commented on #67
seen at:
* PageBot/Examples/FontBureau/Decovar/OLD/Decovar5VariationCircle.py
* PageBot/Examples/FontBureau/Decovar/OLD/Decovar6VariationCircle.py

[2017-12-07 13:00] felipesanches opened #68 "ImportError: from drawBot import installedFonts"
![screenshot at 2017-12-07 11 00 33](https://user-images.githubusercontent.com/213676/33716576-dd03b134-db3d-11e7-8d8b-d3ac156128a2.png)

[2017-12-07 13:01] felipesanches commented on #68
seen at:
* PageBot/Examples/FontBureau/Decovar/OLD/DecovarAxesUI.py

[2017-12-07 13:16] felipesanches opened #69 "ImportError: cannot import name textBoxBaseLines"
![screenshot at 2017-12-07 11 15 53](https://user-images.githubusercontent.com/213676/33717162-0b2a4576-db40-11e7-9003-82e7cec82be0.png)

[2017-12-07 13:17] felipesanches commented on #69
seen at:
* PageBot/Examples/TYPETR/Bitcount/scripts-in-progress/BitcountAxes.py
* Examples/SinglePageExamples/AutomaticPageLayout/AutomaticPageComposition.py

[2017-12-07 13:24] felipesanches commented on #66
a fix for this is included at https://github.com/TypeNetwork/PageBot/pull/70

[2017-12-07 15:08] #64 closed

[2017-12-07 15:08] #66 closed

[2017-12-07 15:11] #67 closed

[2017-12-07 15:17] felipesanches commented on #55
@petrvanblokland Can you set this up?

https://travis-ci.org/TypeNetwork

![screenshot at 2017-12-07 13 17 02](https://user-images.githubusercontent.com/213676/33722385-ef0386b2-db50-11e7-9472-de8d95112983.png)

[2017-12-22 01:26] marckal opened #75 "Can't run setup.py (egg_base error)"
Probably this is a dumb question, but I've tried to install PageBot following its instructions presented in INSTALL.md without any luck, I always get this error:

[code]

Any light?

[2017-12-28 15:10] felipesanches commented on #44
![screenshot at 2017-12-28 13 07 50](https://user-images.githubusercontent.com/213676/34414389-37432696-ebd0-11e7-916c-077a775e6621.png)

https://github.com/TypeNetwork/PageBot/blob/c9560fc4f90597e63b9e1cff078381a9d6f96ef6/Examples/FunctionTesting/testDrawVariables.py#L20-L44

[2017-12-30 12:17] felipesanches opened #77 "How does PageBot relate to Xierpa3 ?"
https://github.com/petrvanblokland/Xierpa3

[2017-12-30 12:19] petrvanblokland commented on #77
It should not relate.
Parts of PageBot come from Xierpa3, for which support stopped.
Imports should removed, or solved inside PageBot, where code can be copied if necessary.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-------------------

[2017-12-31 05:39] felipesanches commented on #69
![screenshot at 2017-12-31 03 38 05](https://user-images.githubusercontent.com/213676/34459624-108e1e30-eddc-11e7-84b4-dd229a560612.png)

[2017-12-31 20:32] felipesanches opened #79 "Licensing issue: "No distribution without permission""
![screenshot at 2017-12-31 17 27 38](https://user-images.githubusercontent.com/213676/34464076-58bb3540-ee58-11e7-9938-e9173201c45b.png)

Can I replace this with the common MIT licensing header (shown below) that is used throughout the rest of the code ?

![screenshot at 2017-12-31 18 30 42](https://user-images.githubusercontent.com/213676/34464083-cb826c42-ee58-11e7-9181-90406a19c656.png)

[2018-01-01 14:46] petrvanblokland commented on #75
Something we need to check.
You can do it manually by moving the pagebot folder into the site-packages manually,
or create a pagebot.pth file manually in site-packages with the path to your git: <git_folder>/PageBot/Lib
(derived from your error, this could be:

/Users/marckal/Dropbox/Code/Drawbot/Lib

Terminal:
+++ pythong

should give no error.

Or running inside DrawBot:
import pagebot

should g

[2018-01-01 14:47] petrvanblokland commented on #79
Yes, this code is taken from TypeNetwork code, (c) should be replaced, so all PageBot (c) is the same.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
typetr.typenetwork.com
designdesign.space

[2018-01-16 21:36] felipesanches opened #80 "Fix undefined-variable errors"
After a large effort to cleanup undefined-variable errors in the codebase, these below are the few remaining ones. @petrvanblokland, I feel that in this case you would be the best person to look up those specific problems and fix them as they may require deeper insight regarding the current codebase.

https://travis-ci.org/TypeNetwork/PageBot/builds/326563003

![screenshot at 2018-01-16 19 33 15](

[2018-01-30 01:44] felipesanches opened #82 "'FlatContext' object has no attribute 'imageSize'"
![screenshot at 2018-01-29 23 39 38](https://user-images.githubusercontent.com/213676/35543717-c451a58a-054d-11e8-9c06-f843028cced7.png)

[2018-01-30 11:41] felipesanches commented on #40
The Sierpinski.py script is also working :-)

![screenshot at 2018-01-30 09 40 27](https://user-images.githubusercontent.com/213676/35564539-ab5e0fa6-05a1-11e8-8b61-0f012888478d.png)

[2018-01-30 11:49] felipesanches opened #83 "PageBot fails to save animated GIF"
(Well... at least on FlatContext. I cannot test DrawBotContext)

After drawing several pages, calling `context.saveImage('test.gif')` is supposed to save an animated gif. But that's silently failing. There's no error message, but there's also no GIF file being saved at all.

[2018-01-30 11:51] felipesanches commented on #83
I noticed this when running **PageBot/Examples/Howto/UseFlatContext/AnimatedGif.py**

[2018-01-30 11:56] felipesanches opened #84 "PDF does not support RGB + alpha"
![screenshot at 2018-01-30 09 55 59](https://user-images.githubusercontent.com/213676/35565233-d757dc7a-05a3-11e8-8d93-f316ccc7bbca.png)

[2018-01-30 12:39] felipesanches commented on #82
Maybe we should consider using pycairo instead of flat ?

[2018-01-30 13:58] petrvanblokland commented on #82
Just van Rossum suggested that too.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-----------------------------------------------
Claudia Mens | clau

[2018-01-30 14:00] felipesanches commented on #82
great! I think that this may be the way to go indeed. I'll see what I can do

[2018-01-30 19:17] felipesanches opened #85 "GNU/Linux porting: textBoxBaseLines"
`textBoxBaseLines` is used on several examples:

![screenshot at 2018-01-30 17 16 54](https://user-images.githubusercontent.com/213676/35586213-63398d8c-05e1-11e8-9735-0c646597a625.png)

There's a definition for `textBoxBaseLines` at Examples/FunctionTesting/baseLinePositions.py
but it depends on `CoreText` and `Quartz`:

[code]

[2018-01-30 22:03] felipesanches commented on #85
Most of the references are actually only unused-imports. So I am removing them all.

In the few places were it is actually used I'm calling context.textBoxBaseLines and I moved the implementation into the DrawBotContext and placed a `throw NotImplementedError` on FlatContext.

[2018-01-30 22:04] felipesanches opened #86 "'Template' object has no attribute 'rect'"
**Examples/TYPETR/Bitcount/BitcountReference.py**:

![screenshot at 2018-01-30 20 02 04](https://user-images.githubusercontent.com/213676/35593955-be985570-05f8-11e8-8821-7c0c2eead5c9.png)

Same on:
* **Examples/ThesisBot/thesisBot.py**

[2018-01-30 22:19] petrvanblokland commented on #85
Yes, that belong in DrawBot context, but we need to find an equivalent method to calculate them for Flat.
Breaking up lines in a text box is the only way to know where text parts went to, and to align the e.g. first line of a text box with a photo next to it.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr

[2018-01-30 23:09] felipesanches opened #87 "NSColor on Examples/TYPETR/Bitcount/LayerCatalogGenerator.py"
NSColor being used on Examples/TYPETR/Bitcount/LayerCatalogGenerator.py should be replaced by something that works both on Flat and DrawBot

![screenshot at 2018-01-30 21 08 45](https://user-images.githubusercontent.com/213676/35596625-c886f48e-0601-11e8-9b24-f5130fdc6eb4.png)

[2018-01-30 23:12] felipesanches commented on #87
Same on **Examples/TYPETR/Bitcount/LayerEditor.py**

[2018-01-30 23:43] felipesanches commented on #86
Similarly, on **Examples/TYPETR/Bitcount/scripts-in-progress/BitcountUsage.py**, `'Template' object has no attribute 'grid'`:

![screenshot at 2018-01-30 21 42 32](https://user-images.githubusercontent.com/213676/35597610-8a7bd5d8-0606-11e8-8695-2bdc8bc90da9.png)

[2018-01-30 23:54] felipesanches opened #88 "Examples/TYPETR/Bitpath/SingleSamplePage.py: 'NoneType' object is not callable"
I'm unsure about this one:

![screenshot at 2018-01-30 21 52 25](https://user-images.githubusercontent.com/213676/35597936-e3667fbc-0607-11e8-8e55-c45f31b302bb.png)

Code at line 166 does this:
[code]

[2018-01-31 03:59] #80 closed

[2018-01-31 04:41] #68 closed

[2018-01-31 05:00] #79 closed

[2018-02-01 12:45] #88 closed

[2018-02-01 20:34] felipesanches commented on #40
**Examples/Howto/DrawSpirals.py** works, but the center looks funny. It seems to be some bad math on the example script itself, rather than a PageBot problem.

![screenshot at 2018-02-01 18 25 28](https://user-images.githubusercontent.com/213676/35701861-7327e29a-077e-11e8-96a9-da57f76c4877.png)

[2018-02-01 20:40] felipesanches commented on #58
duplicate: #57

[2018-02-01 20:40] #58 closed

[2018-02-01 20:42] felipesanches commented on #59
**Examples/Howto/DrawRedRectCenterPage.py** works with `saveImage("image.pdf")` but fails with works with `saveImage("image.png")`:

![screenshot at 2018-02-01 18 40 00](https://user-images.githubusercontent.com/213676/35702178-8d3bac24-077f-11e8-8594-9f6ecdc181c5.png)

[2018-02-01 20:43] felipesanches commented on #57
duplicate: #59

[2018-02-01 20:43] #57 closed

[2018-02-01 20:46] petrvanblokland commented on #40
Known bug. They curves are not ok too, but it was used as background for drawing flourishes in a typeface that we are working on. I did not need the middle part for that.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
----------------------

[2018-02-01 20:48] petrvanblokland commented on #59
This is a fundamental problem with Flat.
All formats have their own type of colours to work with and cannot be mixed,
This means that the export format needs to be known before drawing, which is
the opposite of what PageBot is intended for.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com

[2018-02-01 22:22] felipesanches commented on #40
**Examples/Howto/FloatTextOnTopOfElement.py**:

![screenshot at 2018-02-01 20 19 44](https://user-images.githubusercontent.com/213676/35706591-7e4106a2-078d-11e8-97c9-65fb93ed1b97.png)

[2018-02-02 01:53] felipesanches opened #96 "Review and fix MakeABookCover.py"
This seems to be a very interesting example, but I was not able to make it work. It seems that it needs some tweaking to accomodate the recent changes in the codebase.

There are some reasons why I was unable to do so today:

(1) I got confused about the following similarly named methods: newTextBox / newText on `pagebot.elements` and newText on `contexts.BaseContext`.

(2) I'm not yet familiar wi

[2018-02-02 02:00] felipesanches commented on #40
I've hit on a roadblock in the past few hours here: issues/96

[2018-02-02 02:00] petrvanblokland commented on #96
Yes, soon there will be many more working examples, once we get rid of the context errors.

https://upgrade.typenetwork.com <https://upgrade.typenetwork.com/>

I kept them separate for now, but all images (including the covers and magazine interiors and the website itself,
are all generated by pagebot scripts.
Click on the page images to open the generated PDF.

https://upgrade.typenetwork.com/usa

[2018-02-02 02:01] petrvanblokland commented on #40
I will have a look tomorrow.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-----------------------------------------------
Claudia Mens | claudia@pet

[2018-02-02 02:03] felipesanches commented on #40
thanks!

[2018-02-02 02:28] petrvanblokland commented on #96
MakeABookCover.py now works. Should be extended with more interesting layout and parametric text.

[2018-02-02 02:43] felipesanches commented on #40
Alright!

**MakeABookCover.py**:
![screenshot at 2018-02-02 00 42 40](https://user-images.githubusercontent.com/213676/35714115-19825868-07b2-11e8-8758-11dc8d47e19a.png)

[2018-02-05 20:17] #96 closed

[2018-02-07 12:01] ruwanego opened #98 "PageBot looks for fonts inside the site-packages"
PageBot is lookind for fonts inside the site-packages
OSError: [Errno 2] No such file or directory: '/usr/local/lib/python2.7/site-packages/Fonts/
[code]

[2018-02-07 19:15] felipesanches opened #99 "How should FlatContext manage self.page ?"
docTest on pbruler fails with:

![screenshot at 2018-02-07 17 10 27](https://user-images.githubusercontent.com/213676/35936251-d6152912-0c29-11e8-89d4-12e75fba111b.png)

While debugging that, I noticed that FlatContext has self.page while DrawBotContext does not. It is not clear what controls the behavior of a newly created document (I guess it should add a new "zeroth" page by default). For some

[2018-02-07 19:19] petrvanblokland commented on #99
I think I intended the FlatContent to be “lazy” in creating one.
So the first real drawing done makes the Flat context test if there is a document (Flat document is different thing that a PageBot Document) and page exists and create otherwise.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.

[2018-02-07 19:23] felipesanches commented on #99
I'm a bit lost on the current implementation of that specific behaviour. It's not yet clear to me why it's not currently doing the right thing (i.e. failing the docTest).

[2018-02-07 19:40] felipesanches opened #100 "rename FsString to DrawBotString"
docTests fail at **Lib/pagebot/contexts/strings/fsstring.py**

Let me take the opportunity to ask:

* What exactly is a **BabelString** ?
* And what is a **FsString** ?

[2018-02-07 19:41] felipesanches commented on #100
![screenshot at 2018-02-07 17 41 03](https://user-images.githubusercontent.com/213676/35937667-15d5bf86-0c2e-11e8-9249-9ef9faf37d69.png)

[2018-02-07 19:43] felipesanches commented on #100
1st and second fails are a consequence of the code being drawbot-biased. Is a FsString something drawbot-specific? Otherwise the 1st docTest should not expect `isDrawBot == True` and the second one shouldn't be invoking a method of the builder directly, but instead via the context currently in use.

The problem with the third docTest seems to be something else.

[2018-02-07 19:47] petrvanblokland commented on #100
In DrawBot there is “FormattedString”, which holds formatted strings (typographic parameters, OT-features, hyphenations, etc.) together, very specific for Drawbot and OSX. But very powerful, because it can flow a fill column, calculate spaces, line ending, hyphenation for a world languages, etc.).
So another context needs to do something similar. Even if not identical, we need  formatted-text stri

[2018-02-07 19:48] petrvanblokland commented on #100
The FsString docTests are not supposed to run in Flat. They only work in DrawBot context.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-------------

[2018-02-07 20:07] felipesanches commented on #100
The `FsString` name does trivially indicate its actual purpose. Would it make sense to rename `FsString` to `DrawBotString` so that it follows the same naming scheme as FlatString ?

[2018-02-07 20:08] petrvanblokland commented on #100
I agree, that would be a better name.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-----------------------------------------------
Claudia Mens | cl

[2018-02-07 20:16] felipesanches commented on #100
OK. I'll rename it. And I won't add this file to the set of doctests we run on Travis because right now we run with the FlatContext. I'm not sure if there's a way to run pagebot with the FlatContext on Travis.

[2018-02-07 20:20] petrvanblokland commented on #100
Good, we can run these few files in DrawBot, or within Sublime on OSX, to test them separately.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-------

[2018-02-07 20:24] felipesanches commented on #100
The problem with that is that it is not an automated process. But it's best we have for testing DrawBotContext for now, it seems...

[2018-02-07 20:26] petrvanblokland commented on #100
Another approach is that we write a TestDrawBot class the has the same API and response, just does not draw.
I’ll look into that.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 261

[2018-02-07 20:26] felipesanches commented on #98
@petrvanblokland what's our strategy for loading fonts? Are the font files expected to be installed on the host system running pagebot? Or are they meant to be shipped with the examples and loaded from a path relative to the python scripts ?

[2018-02-07 20:35] petrvanblokland commented on #98
A number of demo fonts come with the PageBot install, so we know they are there. I am planning to add some more incomplete demo fonts from TYPETR that can be used. For Font object usage (drawing paths) these can be found directly in the PageBot tree.
Currently some scripts look though the installed system fonts and try to make the best choice, second choice, etc. The selection process could be imp

[2018-02-07 22:02] #100 closed

[2018-02-07 22:02] felipesanches commented on #99
fixed

[2018-02-07 22:02] #99 closed

[2018-02-08 05:35] ruwanego commented on #98
@petrvanblokland so the question remains. How can I fix this issue?

[2018-02-08 07:51] petrvanblokland commented on #98
I’ll make the fix and then leave open where it should be filled in for working on Linus and Windows.
I guess we need some kind of platform manager, independent of Context, to answer system specific info.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 1

[2018-02-08 20:21] felipesanches opened #103 "Should PageBot API enable automatic installation of system fonts ?"
**Lib/pagebot/fonttoolbox/installfont.py** contains routines for installing fonts on MacOS systems upon requests from user scripts. This is not a cross-platform solution. But before attempting to port this to GNU+Linux, I'd like to discuss whether the ability to install a font is indeed in the scope of PageBot.

I would expect PageBot to use a font file from a relative path of the current user pyt

[2018-02-08 20:23] felipesanches commented on #103
This is not the same as #98 but certaily a related issue.

[2018-02-09 01:56] felipesanches opened #105 "fix issues and re-enable some doctests on Travis"
There are a few python scripts which contain doctests that fails. These are currently commented out on the `.travis.yml` file in order to not brak the build. We need to fix those problems and one-by-one uncomment those lines on the travis setup file.

The files marked with a check below have already been addressed:
- [ ] **Examples.FontUsage.FamilySpecimen**
- [ ] **Examples.FontUsage.modifyTTFont

[2018-02-09 02:09] felipesanches commented on #105
mathematics.py doctests now pass after fixing and re-enabling on a69bf615ac15773406af71ad3ed1139eaf4cb52c

[2018-02-12 22:10] felipesanches opened #110 "cyclic-import on pagebot.toolbox.hyphenation.__init__"
After https://github.com/TypeNetwork/PageBot/commit/d5b660c18e89026e1d5beb2966a47b7cc8d69e90 we got this issue that is breaking the build on Travis:

[code]

[2018-02-12 22:11] felipesanches commented on #110
https://travis-ci.org/TypeNetwork/PageBot/builds/340705996

[2018-02-12 22:14] felipesanches opened #111 "Video-chat to better coordinate our coding efforts"
Hi, @petrvanblokland

I'd like to schedule a video-chat session with you to discuss best practices for our collaborative development of PageBot. Please let me know when you are available (I actually tried to call you on private Google chat half an hour ago)

[2018-02-12 22:19] petrvanblokland commented on #111
Laptop (with camera) is not here.
Let’s do tomorrow (my evening 9PM)

P

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
-------------------------------

[2018-02-12 22:20] felipesanches commented on #111
I'm OK with a voice-only call. Would it work for you? Actually even text-chat could do. Let me know what works best for you.

[2018-02-12 23:05] felipesanches commented on #111
DONE! :-D

That was a nice chat session!

[2018-02-12 23:05] #111 closed

[2018-02-16 17:14] felipesanches commented on #110
I'm still confused about this one. By looking at the commit logs it is not clear what code change introduced this cyclic referencing of modules.

[2018-02-21 21:55] felipesanches commented on #110
https://github.com/TypeNetwork/PageBot/commit/d55162e7b853412ca68b1fc6509c4f606bd9c95e has fixed it, it seems. I'm bugged that I did not get exactly why or how. :-P

[2018-02-21 21:55] #110 closed

[2018-02-24 00:06] petrvanblokland commented on #103
The "installing" of fonts is a DrawBot term. They are not actually installed in the system, but just made available in DrawBot.
To make it platform independent some new functions a added and being tested to find all available fonts in the current platform. The application/script can create a family buy key word and search for fonts in the family: findFamilyByName(familyName), guessFamiliesByPatter

[2018-02-24 00:06] #103 closed

[2018-02-24 00:07] petrvanblokland commented on #77
All Xierpa3 references should be gone now.

[2018-02-24 00:07] #77 closed

[2018-02-24 00:33] #86 closed

[2018-02-24 00:42] felipesanches commented on #86
thanks, @petrvanblokland !

[2018-03-02 19:56] davelab6 opened #114 "Easy Weasy Lemon Squeasy"
http://weasyprint.org

Print document specification with CSS; a "production" export technology in the pagebot ideology, but seems very promising.

I did lol when I saw what kind of company the primary commercial backer is ;)

[2018-03-06 20:44] felipesanches commented on #98
<img width="503" alt="captura de tela 2018-03-06 as 17 36 55" src="https://user-images.githubusercontent.com/213676/37057392-f45c3c20-2165-11e8-9cd9-2f5e2df0bb5c.png">

[2018-03-06 20:52] petrvanblokland commented on #98
I did not check on that example yet.
What should be done now:
- All DrawBot “install” should no longer exist, except inside the DrawBotContext.
Example application that still call some sort of “install” should be fixes.
ALL references to fonts are now done by their file path (as DrawBot takes that too).
Other naming (e.f. path2FontName(path) from toolbox/transformer are handled by the
genering Fam

[2018-03-06 22:20] felipesanches opened #115 "IndentationError: unexpected indent (glass_office.py, line 24)"
<img width="797" alt="captura de tela 2018-03-06 as 19 18 03" src="https://user-images.githubusercontent.com/213676/37061743-2a54aec2-2173-11e8-97ce-b3af7487c6f0.png">

Same with `wood_office.py`

[2018-03-07 01:12] #115 closed

[2018-03-07 01:13] felipesanches commented on #105
There's plenty of broken stuff on Travis right now. Pointless to track it here. Let's fix it and track it directly based on the travis build logs.

[2018-03-07 01:13] #105 closed

[2018-03-07 01:19] petrvanblokland commented on #115
I did not get the latest Travis mail.
Currently working in petr branche.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
------------------------------

[2018-03-07 01:24] felipesanches commented on #115
Lots of stuff still broken on Travis. We gotta clean that up, unless that'll start to get pointless.

[2018-03-07 01:27] felipesanches commented on #115
I am not complaining ;-) I'm just stating that I'd prefer a constantly green build, even if I have to postpone some of the problems for later by commenting out some entries on `.travis.yml` and tracking that separately for being addressed later. So that we can keep the remaining of the code in a manageable state, at least.

[2018-03-07 01:28] felipesanches commented on #65
this seems to be gone now...

[2018-03-07 01:28] #65 closed

[2018-03-07 01:31] petrvanblokland commented on #115
I agree.
On the other side, we’re still developing the contexts to be clean.
One day left for my Robothon presentation. After that I’ll make it clean.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook.
buro@petr.com | www.petr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
------------------------------------------

[2018-03-07 01:36] #44 closed

[2018-03-07 01:36] #55 closed

[2018-03-07 01:37] #52 closed

[2018-03-09 03:26] felipesanches opened #118 "is there any way doctests can be crossplatform?"
<img width="853" alt="captura de tela 2018-03-09 as 00 22 22" src="https://user-images.githubusercontent.com/213676/37188846-184c09e6-2330-11e8-9e0a-ab73afbe69f6.png">

This is caused by a MacOS-specific docTest being run on the GNU+Linux environment of our current Travis setup.

I don't want to remove tests that may be useful to detect issues on the MacOS code-path, but as our Travis environment

[2018-03-09 03:27] felipesanches commented on #118
https://travis-ci.org/TypeNetwork/PageBot/builds/351112235

[2018-03-09 03:36] felipesanches commented on #118
This should have been addressed by `noneDrawBotBuilder` (`pagebot.contexts.builders.nonedrawbotbuilder`), but for some reason it seems it wasn't.

[2018-03-12 11:56] typoman opened #119 "multiple python installations"
Given that if there might be multiple installations of python and drawbot only is working with system default what would be the approach to install pagebot to work with python when the current python is not the default. I was searching but couldn't come up with anything other than uninstalling the pip version. Any better solution?

[2018-03-13 13:15] typoman commented on #119
I got this fixed by opening the `~/.bash_profile` and replace the next line with whatever it was before. This made system to switch to system default python and 'pagebot' was installed in default site-packages folder which is used by the 'drawbot'.

`export PATH="/usr/bin/python:$PATH"
`

[2018-03-13 13:16] #119 closed

[2018-03-14 18:38] michielkauwatjoe opened #120 "BabelString getFont"
I think this was working yesterday.
[code]

[2018-03-15 08:29] #120 closed

[2018-03-15 08:48] michielkauwatjoe opened #121 "Underline Breaks FormattedString"
Not sure what triggers the underline code, however in `drawbotstring.py`:

[code]
Causes a traceback:
[code]
For now I'm commenting the last two lines to make some examples work again.

[2018-04-11 08:25] michielkauwatjoe opened #123 "Var Font Overlap"
Incorrect overlaps after interpolation:

[UseFittingTextWidth.pdf](https://github.com/TypeNetwork/PageBot/files/1897892/UseFittingTextWidth.pdf)

[2018-05-30 11:16] michielkauwatjoe opened #124 "Pylint Errors"
Several errors running pylint causing Travis to fail;

[code]

[2018-05-30 11:56] felipesanches commented on #124
thanks, @michielkauwatjoe

[2018-05-30 12:02] felipesanches commented on #124
I would like to get back to PageBot coding at some point, but I'm currently focused on other projects.

I'm glad to see you're actively improving it and that the stuff that I did in the past seems to still be useful for detecting unassigned variables and other issues in the codebase ;-)

Cheers!

[2018-05-30 12:02] michielkauwatjoe commented on #124
@felipesanches @petrvanblokland I just filtered out the 'E:' errors, they seemed to be related to python 3 issues. However I still get an 'exited with 4' messages so I guess some others are considered errors as well...

[2018-06-07 08:42] #124 closed

[2018-06-07 09:42] michielkauwatjoe opened #125 "Doctest Failing on getInstance()"
[code]

[2018-06-18 08:42] freder opened #126 "Crashes on launch"
hi,

I just wanted to give `PageBot` a try, but it crashes on launch with a nondescript error:

![image](https://user-images.githubusercontent.com/724844/41526289-07bf0dfe-72e4-11e8-8c05-ebaadd951f8c.png)

I'm on
![image](https://user-images.githubusercontent.com/724844/41526298-14d28390-72e4-11e8-8017-fe8bd950ce7e.png)

[2018-06-18 09:36] michielkauwatjoe commented on #126
@freder Thanks, might be caused by a missing library, could you try running the application from the terminal like this:

[code]

(is a relative path, please change it to the app location). This should give more info on the error.

The app is in a very early beta stage, you should be able to run pagebot scripts after you install teh python library using DrawBot:

http://www.drawbot.com/

[2018-07-04 07:44] michielkauwatjoe opened #127 "Units & Colors"
Units:
 * picas
 * px
 * ...
Colors:
 * ...

[2018-07-04 07:46] michielkauwatjoe opened #128 "Export to InDesign"

[2018-07-04 07:46] michielkauwatjoe opened #129 "Export to Web"

[2018-07-04 07:46] michielkauwatjoe opened #130 "Export to D3JS"

[2018-07-09 08:03] michielkauwatjoe opened #131 "Mapping, Not Tuple"
In DrawBotPy2:

[code]

[2018-07-09 09:47] michielkauwatjoe opened #132 "FormattedString vs. Length"
In DrawBotPy3:

[code]

[2018-07-10 08:28] michielkauwatjoe opened #133 "Flat: Missing document()"
Only document() function is an empty one found in NoneFlatBuilder.

[2018-07-10 08:30] michielkauwatjoe opened #134 "Examples: testBabelStrings.py"
Error in Flat context.

[2018-07-10 11:09] michielkauwatjoe opened #135 "Examples: testTextLines"
[code]

[2018-07-11 12:50] michielkauwatjoe opened #136 "Image + Pixelmap + Caption elements have some scaling problems."

[2018-07-11 12:51] michielkauwatjoe opened #137 "Reading XML text from markdown is missing Document styles"

[2018-07-11 12:51] michielkauwatjoe opened #138 "Better management of text baselines on pages and throughout documents."

[2018-07-11 12:52] michielkauwatjoe opened #139 "More useful views (representations of Documents) need to be developed and tested"

[2018-07-12 07:46] michielkauwatjoe opened #140 "Flat: Moving Gif"
[code]
yields
[code]

[2018-07-18 11:09] michielkauwatjoe opened #141 "Examples: Align Float Elements GUI Not Connected"

[2018-07-18 11:35] michielkauwatjoe opened #142 "Examples: UseElementProperties"
Missing element functions:

[code]

[2018-07-19 07:48] michielkauwatjoe opened #143 "Examples: AlterGlyphCoordinates"
Cannot assign point coordinate:

[code]

[2018-07-19 08:04] michielkauwatjoe opened #144 "Examples: Animations Rendering Broken"
Animations render as empty document icons. See for example DrawVariableFont2AxisAnimation.

[2018-07-23 09:21] michielkauwatjoe opened #145 "Examples: AlliumBanner"
Allium font is missing, is it available?

[2018-07-23 09:29] michielkauwatjoe opened #146 "Future: Animation as SVG"
https://css-tricks.com/animating-svg-css/

[2018-07-23 11:29] michielkauwatjoe opened #147 "Examples: Element Mirroring"
In Start.py

[code]

[2018-07-23 14:58] michielkauwatjoe opened #148 "Examples: Missing Import"
The `scss` library is missing a compiler module:

[code]
Maybe renamed?

[2018-07-24 13:45] michielkauwatjoe opened #149 "OpenType Features List Error"
[code]

[2018-07-29 21:04] petrvanblokland commented on #148
sass/scss did not work yet.

 On Jul 23, 2018, at 4:58 PM, Michiel Kauw–A–Tjoe <notifications@github.com> wrote:

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign

[2018-08-06 09:44] RenaudFutterer opened #150 "Builddoc.py syntax error"
133 >                 print(' * Removed %s' % filePath

syntax error line 133, missing parenthese:

133 >                 print(' * Removed %s' % filePath)

works ok now! I'm new to github I'm not sure if this is where I should put this kind of issue.

[2018-08-06 10:20] petrvanblokland commented on #150
Fixed. Thanks for the catch.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign.space
upgrade.typenetwork.com
bitcount.typenetwork.com
----------------------------

[2018-08-06 10:55] RenaudFutterer opened #151 "install pagebot on drawbot"
Hi there,

I fail to import pagebot in drawbot.

the install using

work fine and there is no error. importing in python shell works correctly when using import pagebot

there is nothing in my folder /Library/Python/2.7/site-package but the eggfile is installed properly in the python framework path.

I tried to create a pagebot.pth file with <git_folder>/PageBot/Lib in as mentioned in another tick

[2018-08-06 12:41] petrvanblokland commented on #151
Hi Renaud,

Drawbot sometimes uses a different Python than standard installed in the system.
- What system version are you running?
- Opening a terminal window, then type python + <return>
Gives:

Type

does that give the same error?

Kind regards,
Petr

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@

[2018-08-06 12:56] RenaudFutterer commented on #151
Hi Petr,

macOS High Sierra version 10.13.6

It import fine on the terminal but not in Drawbot -_-

[2018-08-06 22:53] petrvanblokland commented on #151
Here is the .pth located on my system MacOS Sierra 10.12.6

/Library/Python/2.7/site-packages/git.pth

The file contains:

/Users/petr/Desktop/git/flat
/Users/petr/Desktop/git/fonttools/Lib
/Users/petr/Desktop/git/fontmake/Lib
/Users/petr/Desktop/git/fontParts/Lib
/Users/petr/Desktop/git/Pagebot/Lib

petr@FontFools-3$ python
Python 2.7.10 (default, Feb  7 2017, 00:08:15)
[GCC 4.2.1 Compatible Appl

[2018-08-07 10:26] RenaudFutterer commented on #151
Hi Petr,

so I made it work within DrawBotPy2 ! but it doesn't work in the normal DrawBot app, am I suppose to use DrawBotPy2 only with pagebot? I read once that pagebot works on py2.7 but then I didn't found any reference that I should use DrawBotPy2 only... with DrawBot app I can import it only manually (see bellow).

Within DrawBoyPy2

Within DrawBot (latest one)

Once I import the lib locally

[2018-08-13 10:27] michielkauwatjoe commented on #151
Hi, Petr asked me to look at this, is this issue still open? It looks like DrawBotPy2 is the default 'old' DrawBot now, probably to make the difference with DrawBotPy3 clearer.

Michiel.

[2018-08-13 12:07] RenaudFutterer commented on #151
Hi Michiel,

Yes 'import pagebot' works fine in DrawBotPy2 but not in DrawbotPy3... I have no idea why.

**DrawBotPy3 :**
import pagebot
Traceback (most recent call last):
  File "<untitled>", line 1, in <module>
ModuleNotFoundError: No module named 'pagebot'

and it works fine in DrawbotPy2 as mentioned above. I am using the git.pth in /Library/Python/2.7/site-packages with the same lines (with c

[2018-08-13 14:15] michielkauwatjoe commented on #151
Yes, but libraries for Python 3 are installed in another site-packages folder, probably

    /Library/Python/3.6/site-packages

Since pagebot is Python 3 compatible, you can copy the line in the `pth` file to a similar pth file in the above directory and DrawBotPy3 should also be able to find it.

[2018-08-14 08:53] RenaudFutterer commented on #151
So I copied the git.pth to :

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7

it did work in the terminal :

Unfortunately it doesn't work at the moment on Drawbot however...

[2018-08-14 08:56] RenaudFutterer opened #152 "gradient.py syntaxerror"
While trying to install pagebot I have the following error on gradient.py line 63 it appears that there is an extra ')'

[2018-08-14 09:18] michielkauwatjoe commented on #151
My DrawBot version doesn't read the libs in the system folder, this is what getsitepackages() returns:

    ['/Applications/DrawBotPy3.app/Contents/Resources/lib/python3.6/site-packages', '/Library/Python/3.6/site-packages']

Could you try moving the `pth`-file to

    /Library/Python/3.6/site-packages

and try again?

[2018-08-14 09:32] RenaudFutterer commented on #151
it's working now! I had to create the folder though, hence my confusion. Thanks a bunch! 👍

[2018-08-14 09:47] michielkauwatjoe commented on #151
Okay great, thanks for testing!

[2018-08-14 09:47] #151 closed

[2018-08-14 09:50] michielkauwatjoe commented on #152
You're right, just fixed it.

[2018-08-14 09:50] #152 closed

[2018-08-14 09:51] #150 closed

[2018-08-14 10:08] michielkauwatjoe opened #153 "Missing elements"
[code]

[2018-09-10 13:05] solmatas opened #156 "trouble with font size on the example 000_SingleColumn.py"
Hey!
I am doing the workshop pre-Atypi and was trying some changes on the example layout and when I change the font size to 35, 36 or 37 the preview renders a different typeface:

[code]

<img width="1276" alt="screen shot 2018-09-10 at 15 04 34" src="https://user-images.githubusercontent.com/8105496/45299127-e325b600-b50a-11e8-8005-27225091d24a.png">
<img width="1275" alt="screen shot 2018-09-10

[2018-09-10 13:27] felipesanches commented on #156
we are working with `PageBot/Examples/150_Typography/000_SingleColumn.py`

[2018-09-10 13:34] felipesanches commented on #156
the relevant piece of drawbot code here is:

https://github.com/typemytype/drawbot/blob/2e4eb9825d990fe46f48d1c372f062a8b857040b/drawBot/context/baseContext.py#L1677-L1681

but there are several other copies of this code-snippet in that source file.

[2018-09-10 13:35] michielkauwatjoe commented on #156
Have you tried reloading? I reproduced the error but after a couple of failing reloads I now see the correct font every time. Not sure what's causing it, my best guess is a caching issue with DrawBot. I'll check with Petr and Just...

[2018-09-10 13:37] petrvanblokland commented on #156
It is a bug in RoboFont that Frederik has to solve or we need a work around.
For some reason DrawBot does not install a font twice when it is referred to as path instead of name (that is what we do, to make it Mac-indepenent).
It then shows an error.
It works when running it in Sublime (outside DrawBot)

P

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanb

[2018-09-10 13:38] petrvanblokland commented on #156
I mean DrawBot, not RoboFont :)

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign.space
upgrade.typenetwork.com
bitcount.typenetwork.com
-------------------------

[2018-09-10 13:40] davelab6 opened #157 "Examples: FontContent.py doesn't work on CFF fonts"
When you change line 28 from

    f = findFont('Amstelvar-Roman-VF')
to

    f = findFont('InstalledCFFfont-Regular')

We get

[code]

and then in handling that another exception is raised:

[code]

In `Lib/pagebot/fonttoolbox/objects/fontinfo.py` there is

    def glyphSet(self):
        return sorted(self.ttFont.getGlyphOrder())

And then in `ttFont.py` there is a `def getGlyphOrder` but it hand

[2018-09-10 13:42] felipesanches commented on #156
thanks! Is the problem already reported on the drawbot issue tracker? If so, it would be useful to reference it here. Otherwise we should ideally report it there.

[2018-09-10 13:43] petrvanblokland commented on #156
Please do. I sent it as mail directly to Frederik and Just before.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign.space
upgrade.typenetwork.com
bitcount.typene

[2018-09-10 13:44] davelab6 opened #158 "Improve findFont() error"
In `FontContent.py`, if I make a mistake on the `findFont()` method input, like this

    f = findFont('will-not-find') # Get PageBot Font instance of Variable font.

then the result I get is,

[code]

This should be more helpful as it is surely a common error :) Maybe something like:

[code]

Or something like that.

[2018-09-10 13:44] davelab6 commented on #158
I even wonder if it should use a default sans serif so the script continues, but logs this error...?

[2018-09-10 13:47] michielkauwatjoe commented on #157
Thanks; does the desktop_otf folder contain the CFF fonts?

    https://github.com/productiontype/Spectral/tree/master/fonts/desktop_otf

We probably also want to add UFO at a certain point...

[2018-09-10 13:50] michielkauwatjoe commented on #158
We should definitely not try to extract info from a non-existing font; a fallback font would be a good option, which one should we use, Verdana?

[2018-09-10 13:51] petrvanblokland commented on #158
Ha, there are 2 different errors:

The one I mentioned is giving this error:

*** DrawBot warning: font: 'Roboto-Regular' is not installed, back to the fallback font: 'Verdana' ***

in which case DrawBot fall back to a default.

The other error (if no font can be found), the findFont( ) answers None.
Any application to script should be testing on that and then find a new font.
De Roboto (and some

[2018-09-10 13:54] petrvanblokland commented on #158
The FontContent.py is a very early version of the specimen script, that will have more testing later.

I think it would make sense to separate the errors in Example scripts, and errors that are raised in the Lib itself.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com

[2018-09-10 13:55] petrvanblokland commented on #157
The Font class does currently not support CFF or UFO, but definitely should be extended there.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign.space
upgrade.typ

[2018-09-10 14:04] petrvanblokland commented on #158
Updated the FontContent.py with the None test.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998
buro@petr.com | typetr.typenetwork.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
designdesign.space
upgrade.typenetwork.com
bitcount.typenetwork.com
----------

[2018-09-11 18:03] davelab6 opened #160 "Small thing: Remove stale branches"
https://github.com/TypeNetwork/PageBot/branches/stale shows a few branches that could perhaps be deleted (as there are 0 commits ahead of master) or no longer relevant (if they are ahead of master)

[2018-09-11 22:32] petrvanblokland commented on #158
findFont(name, default=None) now has a default attribute. Solving the above, I think.
There will be a FindFont.py be created to illustrate the best way to find fonts.

[2018-09-11 22:33] #158 closed

[2018-09-12 07:48] michielkauwatjoe commented on #160
@petrvanblokland I removed the ones that didn't have unique commits, can I remove the other ones as well? (approx. 4-10 commits)

[2018-09-12 09:05] davelab6 commented on #158
https://github.com/TypeNetwork/PageBot/commit/5554048bec03ccb7dbc85a5319214cf2bdc71a3f looks good!

[2018-09-12 09:10] davelab6 opened #161 "Patterning and documenting method names style guide?"
Just an idle thought after #158, but I wonder when would be a good time to review the method names & docstrings, and create some 'style guide' to systematize them (or document/formalize the existing patterns...)

Something I observed in the workshop on Monday is that in DrawBot, there is a global namespace for the drawbot module's methods, so users don't have to think about importing specific clas

[2018-09-12 11:14] michielkauwatjoe commented on #161
Sure, sounds good.

So it would be better if they don't need to import the colors separately? Maybe just:

    from pagebot import *

How about adding a style guide markdown page to the repository?

[2018-09-13 00:08] petrvanblokland commented on #161
In principle they should have consistent patterns.
Which are not according to expectations?

PageBot is not DrawBot.
DrawBot examples should not be used in PageBot courses.

Although PageBot runs in DrawBot, the patterns (plain fill(0), etc.) cannot be mixed.
DrawBot immediately draw on its own canvas, where PageBot keeps all page elements “floating”.
And due to the “Context”, not all functions an

[2018-09-13 07:40] michielkauwatjoe commented on #160
Only master and gh-pages are left now.

[2018-09-13 07:40] #160 closed

[2018-10-02 14:22] eightmoe opened #163 "Unable to install PageBot with Terminal"
Trying to install PageBot via _sudo python3 setup.py install_ prints a **SyntaxError for line 30 of elements/views/pagemapview.py** (missing underscore in "RIGHT ECI_GrayConL"?) and then ends after multiple errors similiar to:

sass.cpp:2224:24: error: no member named 'exc_type' in '_ts'
    tmp_type = tstate->exc_type;

Is there something I am doing wrong or missing?

[2018-10-03 08:17] michielkauwatjoe commented on #163
@eightmoe Hi, thanks for reporting, should be fixed now. Could you try again?

[2018-10-04 09:40] michielkauwatjoe commented on #163
@eightmoe On second thought, apparently the setup script still referenced another implementation of `sass`, not `libsass`.  Running `setup.py` again should not invoke Cython anymore; could you give it another run?

[2018-10-04 09:50] eightmoe commented on #163
@michielkauwatjoe The last update made it: successfully installed with Python 3.7.
Thanks a lot!

[2018-10-04 09:56] michielkauwatjoe commented on #163
@eightmoe Great, thank you for testing!

[2018-10-04 09:56] #163 closed

[2018-11-05 11:16] petrvanblokland opened #164 "originTop=True"
Often is buggy for element positions, such as Element.bottom
We need a systematic test for documents with originTop=True to make them work exactly the same if element positions and conditions are used.
Until then it is safer to use originTop=False for all documents.

[2018-11-14 12:14] michielkauwatjoe opened #165 "DrawBotContext.scale AssertionError"
with:

[code]

Getting traceback:

[code]

[2018-12-13 21:53] petrvanblokland opened #166 "GlyphScatter.py is broken"
PageBotPath + flatten path change broke this example

[2019-03-04 18:01] sannorozco opened #167 "Install script not working, import error"
Hi @michielkauwatjoe, while running install script, get this traceback:

Computer1:PageBot SO$ sudo python3 setup.py install
Traceback (most recent call last):
 File “setup.py”, line 15, in <module>
   from setuptools import setup, find_packages
ModuleNotFoundError: No module named ‘setuptools’
Computer1:PageBot SO$

[2019-03-04 18:17] michielkauwatjoe commented on #167
@sannorozco @petrvanblokland The setuptools package is missing, you should be able to install it with pip:

    pip3 install setuptools

However we usually link to the source folder in a pth file so we don't need to reinstall it for every change. My `/Library/Python/3.6/site-packages/sources.pth` file for example has this line:

    /Users/michiel/Code/PageBot/Lib/

[2019-03-04 18:23] justvanrossum commented on #167
`pip install -e .` is way more convenient that a pth file. Do this in the folder containing the setup.py of the project you want to install. Still will need setuptools, though.

[2019-03-05 00:34] sannorozco commented on #167
Alright, with pip3, PageBot installed without errors,

thanks!

[2019-03-05 00:34] #167 closed

[2019-03-29 20:26] andyclymer opened #168 "Markdown import error with the Typesetter"
Importing the Typesetter results in a traceback:

[code]

The markdown support files in `contributions` try to import from `markdown.odict` which isn't part of the current version of the Python-Markdown library. Is there an older version of the markdown library that's recommended?

[2019-04-15 09:18] petrvanblokland commented on #168
Andy,
Thank you for the response.
Let me know if you need more feedback on usage or if you have idea for extending.

Michiel,
Can you have a look?

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
buro@petr.com <mailto:buro@petr.com> | designdesign.space | typetr.com <http://typetr.com/>
mobile +31 6 24 219

[2019-04-15 15:24] andyclymer commented on #168
Thanks for having a look! I'm excited to get back into working with PageBot after I get a few of these dependencies sorted out.

[2019-04-15 15:27] petrvanblokland commented on #168
Installs of dependent libraries should be automatic.
If not, ask Michiel directly or add as issues.
michiel@petr.com

We are currently working on PageBotApp, which will be a similar wrapper as DrawBotApp is around the DrawBot lib.
That would include all current libraries, and offert PageBot as a set of windows/UI/etc. that runs when started, making the libs directly available.

P

----------------

[2019-04-16 07:46] michielkauwatjoe commented on #168
@andyclymer Hi Andy, I've updated the examples, you should be able to import the typesetter code with the current markdown lib now!

[2019-06-24 23:17] petrvanblokland opened #169 "ral2Rgb doctest difference between OSX-Sublime and Travis"
"""

    Sublime says:
    '0.31, 0.07, 0.10'
    Travis says:
    '0.54, 0.07, 0.08'

[2019-06-25 02:28] justvanrossum commented on #169
This must be a Python version difference. I bet one is 3.5, and the other 3.6 or 3.7.

The algorithm to translate 'red' to an rgb value is non-deterministic, and depends on the order of the underlying dictionary. As of Python 3.6 dict key insertion order is remembered, so you'll get a different key order than in Python 3.5. Either way it's not a good idea to make the outcome depend on the key orde

[2019-06-25 07:01] michielkauwatjoe commented on #169
@justvanrossum Thanks for the advice, I'll switch to a tuple or list.

[2019-07-03 08:42] michielkauwatjoe opened #170 "ReadTheDocs"
See

[http://martin.majlis.cz/integrating-github-with-pypi-travis-ci-readthedocs-and-code-climate/](http://martin.majlis.cz/integrating-github-with-pypi-travis-ci-readthedocs-and-code-climate/)

[2019-07-03 09:11] typemytype commented on #170
drawbot zit helemaal op read the docs

[2019-07-03 13:41] michielkauwatjoe commented on #170
@typemytype okee, wat gebruiken jullie voor deployment?

[2019-07-03 13:54] typemytype commented on #170
to build the app? that still happens locally as code signing an app elsewhere is rather complex...

* readthedocs is his own web hooks binding into a git repo (this is easy)
* I did try to build the app with travis, which seems to be possible (without code signing) see https://github.com/typemytype/drawbot/blob/trying_out_travis/.travis.yml

[2019-07-03 13:59] michielkauwatjoe commented on #170
@typemytype no I mean deployment of docs after a build / version? Or RTD point to a folder in git?

[2019-07-03 14:00] typemytype commented on #170
RTD host the docs... and there is a CNAME to drawbot.com

[2019-07-03 14:01] typemytype commented on #170
the drawbot docs on RTD: https://drawbot.readthedocs.io

[2019-07-03 14:13] michielkauwatjoe commented on #170
@typemytype okay didn't completely read your first answer; I meant the web hook binding, thanks!

[2019-07-03 15:39] andyclymer commented on #168
Thanks!

[2019-07-03 15:39] #168 closed

[2019-07-10 09:35] petrvanblokland opened #171 "Calendar generator speed"
Run Publications/BaseCalendar doctest.
That is a simple rectangle generator on 13 pages.
Why is it so slow?

[2019-07-17 12:51] michielkauwatjoe opened #172 "Flat: Untitled.pdf"
Adds Untitled.pdf before exporting.

[2019-07-17 12:52] michielkauwatjoe opened #173 "Flat: newPage() name"
Name shouldn't be `index.html`.

[2019-07-17 12:52] michielkauwatjoe opened #174 "Flat: newLine"
Doesn't give output.

[2019-07-24 10:14] #133 closed

[2019-07-24 10:16] michielkauwatjoe opened #175 "Chrome: Basic Eel Setup"
https://nitratine.net/blog/post/python-gui-using-chrome/

[2019-07-24 12:10] petrvanblokland opened #176 "Make API of newDrawing and newDocument compatible between contexts"

[2019-07-24 12:11] #176 closed

[2019-07-24 12:13] petrvanblokland opened #177 "Add conditional MampView.copyResources() argument removeExisting"
To guide/prevent existing files of Mamp export to be overwritten.

[2019-07-24 12:13] #177 closed

[2019-08-14 10:18] michielkauwatjoe opened #178 "Flat: Image Support"
JPEG:
[code]

PNG:

[code]

[2019-08-22 09:22] michielkauwatjoe opened #179 "__rdiv___"
[code]

[2019-08-25 17:43] davelab6 commented on #170
I propose symlinking https://github.com/PageBot/PageBot/blob/master/docs/README.md to https://github.com/PageBot/PageBot/blob/master/README.md as they are nearly the same, and I don't see value in them splintering :)

There Is also https://github.com/PageBot/Flat3/pull/2 that I hope may be a good base

[2019-08-25 17:53] davelab6 opened #180 "PyPi manifest"
Similar to #170 but hopefully a lot less intricate, when I visit https://pypi.org/project/pagebot/ it seems it doesn't have the README plumbed through, and perhaps there are other metadata that can be improved :)

[2019-08-25 17:54] davelab6 opened #181 "Add prominent links to homepage to repo and readme"
Add pagebot.io url to the top of https://github.com/PageBot/PageBot (only repo admins can do this) and to README

[2019-09-03 14:32] michielkauwatjoe opened #182 "Flat: Rasterizing Paths in PNG Format"
[code]

[2019-09-03 14:47] petrvanblokland commented on #182
This most likely happens, if a value is offered that is not a Unit instance.
Some automatic conversion is done, but not everywhere.
What are the values?

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
buro@petr.com | designdesign.space | typetr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
----------

[2019-09-03 16:40] michielkauwatjoe commented on #182
@petrvanblokland The strange thing is it only happens to PNG, not PDF. You can run the DrawQuadraticGlyph example in Advanced/Testing to see the output.

[2019-09-04 13:35] michielkauwatjoe opened #183 "Flat: Can't Close Vector Path"
Happens in PDF and SVG, not PNG;
[code]

[2019-09-05 10:41] michielkauwatjoe commented on #183
Fixed by  https://github.com/xxyxyz/flat/pull/8

[2019-09-05 10:41] #183 closed

[2019-09-05 10:42] michielkauwatjoe commented on #182
Multiplication for pt*pt was missing, fixed.

[2019-09-05 15:15] petrvanblokland commented on #182
10000

should be an error.
Although it may seem right, 2 cars x 2 cars has no logic solution.
Only scalars should be used for multiplication. It is up to the caller that one of the two is not a unit.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
buro@petr.com | designdesign.space | typetr.com
mobile +31

[2019-09-05 17:10] michielkauwatjoe commented on #182
Okay, I'll check where it should be changed then. However, I copied the structure from __div__, I guess pt(100) / pt(100) is also incorrect?

[2019-09-05 17:12] michielkauwatjoe commented on #182
[code]

[2019-09-05 17:21] petrvanblokland commented on #182
No, that is right, because it answers a float a ratio.
In this case div and mul are not reversed.
Same as ‘aaa’*100 exists, but ‘aaa’/100 does not.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
buro@petr.com | designdesign.space | typetr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
---------------

[2019-09-05 17:54] michielkauwatjoe commented on #182
@petrvanblokland right, but aren't points and Em _length_ units?

https://www.dummies.com/education/math/basic-math/how-to-add-subtract-multiply-and-divide-with-units/

[2019-09-05 18:38] petrvanblokland commented on #182
We don’t have square units as class.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
buro@petr.com | designdesign.space | typetr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Rietveld 56 2611 LM Delft The Netherlands
------------------------------------

[2019-09-19 09:29] michielkauwatjoe opened #184 "Flat: Text Size"
Get actual text size instead of frame.

[2019-10-14 10:57] MauriceMeilleur opened #185 "Basic install question?"
New machine at my new job, finally getting caught up to PB's current state of development, and I'm running across what seems to be a basic installation problem: after installing RoboFont (mentioning in case it makes a difference), and then successfully installing Python 3.7, DrawBot, and other Python libraries in Terminal via pip, I also installed PageBot. Here's the Terminal transcript:

I then t

[2019-10-14 11:51] anthrotype commented on #185
that method was prefixed with an underscore therefore it was private to fontTools.varLib module and never intented to be used by external applications. It has been moved to the glyf table module. See `getCoordinatesAndControls` method of `table__g_l_y_f` class

[2019-10-14 11:53] anthrotype commented on #185
temporarily, you should be able to `pip install fonttools=3.43.2` which is the version before 3.44.0 when that method has removed.

[2019-10-14 12:34] MauriceMeilleur commented on #185
Should I report it as a PageBot issue, then?

[2019-10-14 12:49] michielkauwatjoe commented on #185
@MauriceMeilleur we've already fixed this but still need to upload the latest to pypi. I'll see if I can get around to it later today. FYI: because we want PageBot to run on Linux as well, all cocoa functions have been migrated to a separate repository, PageBotCocoa. So you'd need to install it as well if you want to use it in the DrawBot Context. We'll add a separate package to PyPi soon.

[2019-10-14 14:03] michielkauwatjoe commented on #185
@MauriceMeilleur I've updated the package so the problem should be fixed now. You should also be able to do `pip install pagebotcocoa` now.

[2019-10-14 18:43] MauriceMeilleur commented on #185
Thanks! I'll give it a go tonight.

[2019-10-14 18:55] MauriceMeilleur commented on #185
… or right now; and I've run across another problem. I successfully uninstalled pagebot 0.6 with pip and reinstalled to get 0.7:

But now with the same test code in DrawBot I'm getting this error:

[2019-10-15 08:14] michielkauwatjoe commented on #185
@MauriceMeilleur  Which version of Python does your DrawBot run on?

    import platform
    print (platform.python_version())

[2019-10-15 09:58] michielkauwatjoe opened #186 "Add a Changelog"

[2019-10-15 10:03] michielkauwatjoe commented on #180
@davelab6 should be fixed now!

[2019-10-15 10:03] #180 closed

[2019-10-15 10:22] michielkauwatjoe commented on #170
@davelab6 I've symlinked the readme's.

[2019-10-15 10:26] MauriceMeilleur commented on #185
3.7.4

[2019-10-15 10:34] michielkauwatjoe commented on #185
@MauriceMeilleur what if you import DEFAULT_TRACKING directly?

    import pagebot
    print(pagebot)
    from pagebot.constants import DEFAULT_TRACKING

[2019-10-15 10:41] MauriceMeilleur commented on #185
Output:
<module 'pagebot' from '/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/pagebot/__init__.py'>

[2019-10-15 10:48] felipesanches commented on #185
you shouldn't have to explicitly import it if you are not explicitly using it. The underlying pagebot code that uses it should be the code importing it.

[2019-10-15 10:50] petrvanblokland commented on #185
This should be in the constants file:

# DEFAULT_FONT_PATH comes from import pagebot.paths
DEFAULT_FONT = 'PageBot-Regular' # We know for sure this one can be found.
DEFAULT_FONT_SIZE = pt(EM_FONT_SIZE)
DEFAULT_LEADING = em(1.4, base=DEFAULT_FONT_SIZE)
DEFAULT_TRACKING = em(0)
DEFAULT_FALLBACK_FONT_PATH = 'Verdana' # We know for sure this one is there.

for lines 687-692

-------------------------

[2019-10-15 12:19] michielkauwatjoe commented on #185
@MauriceMeilleur @felipesanches @petrvanblokland just making sure the paths and versions are correct. The last command didn't raise an error, so my guess is you have an older version that is detected first. Could you check for other pagebot versions on you system? Also, could you try to execute the example from a terminal? I've also added it to the examples repository by the way.

https://github.c

[2019-10-15 17:55] MauriceMeilleur commented on #185
I'd appreciate help with doing both. As far as I know uninstalling 0.6 in terminal with pip was successful, as was installing 0.7. Where would I look for older versions? And, I'll need reminding how to run Python scripts and DrawBot as a module from terminal—I've always only ever used the app.

[2019-10-15 20:27] felipesanches commented on #185
trying to run the script in the command-line on osx does not work for me:

<img width="980" alt="Captura de Tela 2019-10-15 às 17 25 50" src="https://user-images.githubusercontent.com/213676/66867105-f78b7c00-ef70-11e9-8900-46647dc81cad.png">

[2019-10-16 08:15] michielkauwatjoe commented on #185
@felipesanches that's probably because you're running it on Linux. In that case you'd need to call the Flat context explicitly, and we still need to remove all pagebotcocoa imports.

[2019-10-16 08:21] michielkauwatjoe commented on #185
@MauriceMeilleur here's a link to the script:

[04_RTDExample.py.zip](https://github.com/PageBot/PageBot/files/3733171/04_RTDExample.py.zip)

if you unpack it in your home directory, you should be able to open a terminal and run it directly with

    python 04_RTDExample.py

[2019-10-18 16:27] MauriceMeilleur commented on #185
Here's the output in Terminal:

[2019-10-18 17:06] felipesanches commented on #185
No. I actually use two laptops for development. That was a screenshot from my Mac.

[2019-10-18 18:32] michielkauwatjoe commented on #185
@felipesanches ah, okay, do you have pyobjc installed?

[2019-10-18 18:36] michielkauwatjoe commented on #185
@MauriceMeilleur on the command line, can you start the python prompt? just type

    python

You should get something like this:

    Python 3.7.2 (v3.7.2:9a3ffc0492, Dec 24 2018, 02:44:43)
    [Clang 6.0 (clang-600.0.57)] on darwin
    Type "help", "copyright", "credits" or "license" for more information.

After that

    import pagebot
    print(pagebot)

Which should show you where the package

[2019-10-18 18:44] MauriceMeilleur commented on #185
Which is odd, because I know I have 3.7.4 installed—and not locally, DrawBot is working fine.

[2019-10-18 19:12] felipesanches commented on #185
I did not! It should be listed on requirements.txt and setup.py !

After installing pyobjc, I got a different crash, though:
<img width="1118" alt="Captura de Tela 2019-10-18 às 16 10 14" src="https://user-images.githubusercontent.com/213676/67121446-eeddb480-f1c1-11e9-9807-cddb59518dc5.png">

which is yet another dependency.

I will send a PR adding those dependencies to setup.py & requirements.

[2019-10-18 19:14] felipesanches commented on #185
it seems vanilla may have a bug...

<img width="983" alt="Captura de Tela 2019-10-18 às 16 13 41" src="https://user-images.githubusercontent.com/213676/67121601-4d0a9780-f1c2-11e9-9a62-fdbc90bb7cd3.png">

[2019-10-18 19:42] felipesanches commented on #185
https://pypi.org/project/vanilla/
"Vanilla works with Python 2.6 - 2.9 and PyPy."

which then makes PageBot not compatible with python 3, it seems...

[2019-10-18 19:52] petrvanblokland commented on #185
Vanilla should no longer be part of PageBot.
It is used in PageBotApp, in relation with DrawBot and in DrawBotContext.
The aim is to remove all DrawBot/MacOS knowledge from PageBot and put it in DrawBotContext. That is why that is now a separate repo.

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
******

[2019-10-18 19:54] felipesanches commented on #185
sure, but since PageBotCocoa depends on Vanilla, it means PageBotCocoa can't run with python 3.

[2019-10-18 19:56] typemytype commented on #185
Thats the wrong vanilla...

[2019-10-18 19:57] felipesanches commented on #185
oh!

So I am not really sure what we're talking about. Sorry for the noise :-|

[2019-10-18 21:11] benkiel commented on #185
This is the Vanilla you want: https://github.com/robotools/vanilla
Not on pypi

[2019-10-19 08:47] michielkauwatjoe commented on #185
@MauriceMeilleur Hi,

Could you check if there's a pagebot installed in these folders:

    /Library/Python/2.7/site-packages
    /Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages

If so, please remove them, and add this line to your `.bash_profile`:

    alias python='python3'

After that, open a new terminal to load the new settings, and try running the script again.

[2019-10-19 08:58] michielkauwatjoe commented on #185
@felipesanches

`pyobjc` is a requirement for PageBotCocoa, but I see the requirements are still missing from the setup. I'll add them. There's a script in the scripts folder called install.sh that should take care of all non-PyPi packages.

    https://github.com/PageBot/PageBotCocoa/blob/master/scripts/install.sh

[2019-10-19 13:03] MauriceMeilleur commented on #185
@michielkauwatjoe

/Library/Python/2.7/site-packages: no, just Extras.pth and a README file.
/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages: no version of 2.7 in the Versions subfolder, only 3.6 and 3.7; no site-packages sub-folder in either.

Made the edit to .bash_profile and ran the script again; here are the results:

[2019-10-20 03:13] felipesanches commented on #185
The reorganizing of package dependencies on https://github.com/PageBot/PageBotCocoa/pull/5  will make it much simpler to install PageBotCocoa (including automatic installation of all of its dependencies)

[2019-10-21 08:39] michielkauwatjoe commented on #185
@MauriceMeilleur

Okay good,

Can you install `pyobjc`?

    pip install pyobjc

I'm not sure if @felipesanches's changes already include it yet.

[2019-10-21 11:44] MauriceMeilleur commented on #185
Done; I guess I still need Vanilla, as above?

[2019-10-21 11:47] MauriceMeilleur commented on #185
… not that I can tell exactly which Vanilla I need from the exchange.

[2019-10-21 12:02] michielkauwatjoe commented on #185
@MauriceMeilleur Could you first try to run the demo script in DrawBot first? DrawBot and command line are mostly different environments and I just needed some more information to figure out why DrawBot isn't finding the correct pagebot package. Vanilla and such are embedded inside DrawBot and therefore you wouldn't need to install them unless you want to run command line scripts.

[2019-10-21 12:41] MauriceMeilleur commented on #185
Sure:

gives:

Hey, at least the imports work! :)

[2019-10-21 12:46] MauriceMeilleur commented on #185
Sure:

from pagebot.document import Document
from pagebot.toolbox.units import pt

yields:

Hey, at least the imports work! :)

[2019-10-21 13:33] petrvanblokland commented on #185
newRect comes from
from pagebot.elements import *

-----------------------------------------------
Petr van Blokland | twitter+skype @petrvanblokland
Intentionally not on FaceBook since 1998.
******    M A I L   A D D R E S S   C H A N G E D     ******
tptr@petr.com | designdesign.space | typetr.com
mobile +31 6 24 219 502 | buro +31 15 887 1233
-----------------------------------------------
Riet

[2019-10-21 14:33] MauriceMeilleur commented on #185
Adding Petr's line yields:

[2019-10-21 14:53] michielkauwatjoe commented on #185
@MauriceMeilleur Here's the entire script;

[code]

[2019-10-21 15:02] MauriceMeilleur commented on #185
Running that script inside DrawBot yields:

![Screen Shot 2019-10-21 at 9 58 50 AM](https://user-images.githubusercontent.com/27898556/67216865-85d88580-f3e9-11e9-9a28-8a35a68c90d3.png)

So, success. Running it from Terminal:

Obviously a lot of <module>s dropping out thanks to the quotation HTML, but clear enough I expect.

[2019-10-21 15:08] michielkauwatjoe commented on #185
@MauriceMeilleur okay great; do you need pagebot to work from the command line? I can send you a script that automates part of the installation process, which also needs to be run from the command line.

[2019-10-21 15:11] MauriceMeilleur commented on #185
Actually, no—I'm happy to work from DrawBot; I like the interface and the immediate feedback, and I appreciate everyone's very patient help. But I'm also happy to keep trying things out as you suggest them in Terminal, if that provides any diagnostic feedback that helps move the project along on your end.

[2019-10-21 15:37] michielkauwatjoe commented on #185
@MauriceMeilleur If you're happy with DrawBot let's just leave the rest of the command line stuff for now; thank you for the feedback!

[2019-12-03 12:06] michielkauwatjoe opened #190 "Autodoc Errors"
[code]

[2019-12-04 14:03] michielkauwatjoe commented on #190
Still some warnings left.

[code]

[2019-12-19 13:55] michielkauwatjoe opened #191 "To Do's & Fix Me's"
Fix me's:

[code]

To do's:
[code]

[2020-01-02 10:22] frankrolf opened #192 "No module named 'flat'"
I installed PageBot via pip, and tried to run the basic example (unsuccessfully):

[code]

[2020-01-02 19:53] michielkauwatjoe commented on #192
@frankrolf @petrvanblokland Hi,

Flat is a dependency that is in the requirements;

    https://github.com/PageBot/PageBot/blob/master/requirements.txt

A couple of questions; do you know if it installed together with PageBot, or did you already have it on your system? Which Python are you using? Could you check if you're able to import flat itself?

Thanks,

Michiel.

[2020-01-03 10:52] frankrolf commented on #192
I am using Python 3.7.4 installed via `pyenv`.
As far as I can tell, `flat` simply has not been installed as expected:

[code]

[2020-01-03 11:24] michielkauwatjoe commented on #192
@frankrolf Hm, seems I somehow commented the flat requirement in setup.py. I'll have to upload a new version of PageBot to PyPi; could you install flat separately for now? `pip install flat` should do the trick...

[2020-01-30 13:13] frankrolf commented on #192
That did the trick! – plus one additional step:
`pip install pagebotcocoa`

[2020-01-30 13:13] #192 closed

[2020-02-14 12:11] MauriceMeilleur commented on #185
Sorry for the long gap, but now *finally* turning back to getting re-started with PageBot, I've found that I'm back to broken:
[code]
yields:
[code]
So far as I can tell nothing relevant on my machine has changed in the intervening period since this issue was closed, except that DrawBot was updated to 3.122.
One of the main changes in the new version of DB was the introduction of the pip/PyPI fron

[2020-02-15 14:12] michielkauwatjoe commented on #185
@MauriceMeilleur Interesting, I'll try to reproduce the error in DrawBot and get back to you...

[2020-02-18 08:34] michielkauwatjoe commented on #185
@MauriceMeilleur I've tried it and am getting the same error. It seems it has something to do with setuptools in DrawBot. Installing `tornado` from the command line doesn't give any errors and actually the version is the same; DrawBot says:

[code]

On my machine:
[code]

@justvanrossum @typemytype do you know what's going on here?

[code]

[2020-02-18 08:42] michielkauwatjoe opened #193 "Script Warnings"
After a clean install, I get these warnings:

[code]

[2020-02-25 11:04] michielkauwatjoe opened #194 "Server: Serve PDF"

[2020-02-25 11:05] michielkauwatjoe opened #195 "Server: Receive and Process JSON"

[2020-02-25 11:05] michielkauwatjoe opened #196 "Server: Parse URL Parameters"

[2020-02-25 16:43] michielkauwatjoe opened #197 "Server: Support for AngularJS"

[2020-02-28 11:17] justvanrossum commented on #185
Probably this: https://github.com/typemytype/drawbot/blob/54ae8802c52fc5b64d17f77ca26662ec63f628c8/setupApp.py#L204

[2020-02-28 12:32] michielkauwatjoe commented on #185
@justvanrossum what's the reason it's excluded, size?

[2020-02-28 12:39] justvanrossum commented on #185
We don't remember, but it needs to be included for other reasons (that I don't remember) as well.

Try to build DB from source with this exclude edited.

[2020-03-02 11:43] michielkauwatjoe commented on #185
@justvanrossum @petrvanblokland  installing `packaging` with the DrawBot pip interface fixes it, but now it seems a part of setuptools is missing:

[code]

When I run

[code]

I get the same error. Any ideas?

[2020-03-02 11:45] justvanrossum commented on #185
I would start with a fresh virtual env, install everything from scratch in it, and see it that helps.

[2020-03-02 12:24] michielkauwatjoe commented on #185
@justvanrossum how can you make a virtualenv inside the DrawBot application? To be clear, on my local system everything is working, the problem occurs when trying to install inside DrawBot;

<img width="825" alt="Screenshot 2020-03-02 at 13 22 38" src="https://user-images.githubusercontent.com/530652/75676152-f8574d00-5c88-11ea-91e3-77e4c1b914fb.png">

[2020-03-02 12:30] justvanrossum commented on #185
Ah ok. Perhaps `setuptools` needs to be listed in the `packages` list in DB's setupApp.py?

[2020-03-02 12:32] justvanrossum commented on #185
But it's a little suspicious, as `msvc` is a Windows thing.

[2020-03-02 12:43] michielkauwatjoe commented on #185
@justvanrossum

Trying to compile the app gives some errors; with build:

[code]
direct install gives:
[code]

Requirements have been installed by the way. Am I doing something wrong?

[2020-03-02 12:44] michielkauwatjoe commented on #185
I guess it's a Microsoft Visual C dependency, might be cross-platform.

[2020-03-02 12:45] anthrotype commented on #185
it is, but attempting to `import setuptools.mscv` from the command line and latest setuptools does _not_ fail with that ImportError even on non-windows platforms (I tested both mac and linux).
The setup must be pulling an outdated setuptools which doesn't contain that module. Make sure a relatively recent setuptools is installed.

[2020-03-02 12:58] justvanrossum commented on #185
The app build command is: `python setupApp.py py2app`. And make sure you do that from a venv with all dependencies freshly installed.

[2020-03-02 13:21] michielkauwatjoe commented on #185
@justvanrossum @typemytype @anthrotype Thanks, installs without errors now, looks like it's using the latest version of setuptools (45.2.0). Packaging doesn't seem to be necessary anymore. Could you update the downloadable executable on the drawbot site?

[2020-03-02 13:23] justvanrossum commented on #185
@typemytype is on it as we speak: he's ironing out the last wrinkles in a brand new github-actions-based build.

[2020-03-02 14:01] MauriceMeilleur commented on #185
I aspire one day to be able to do more than stand aside and watch this magic happen. Thanks, everyone.

[2020-03-02 14:40] michielkauwatjoe commented on #185
@MauriceMeilleur Hi Maurice, thank you for your patience :) I'll be cleaning up some parts of pagebot today, after that I'll put a new version on the Python index. DrawBot will probably have been updated by then. I'll send you a message when I'm finished!

[2020-03-02 17:57] lsalgueiro opened #198 "'Please install pagebotcocoa'"
Hello, everyone,

I tried installing PageBot, but, upon trying to `import pagebot`, it just yields an error message:
[code]

… which I also have. Any subsequent installs just read (naturally) 'Requirement already satisfied'…

I'm running Python 3.7.4 in a virtual environment (so everything was supposedly cleanly installed for this purpose) on Mac OS 10.12.6.

Thanks!

[2020-03-02 18:18] michielkauwatjoe commented on #198
@lsalgueiro Hi Luís, which pip are you using? Can you enter

which pip

on the command line? Could it be the system-wide pip is called, instead of the one in the virtualenv bin?

[2020-03-02 18:27] lsalgueiro commented on #198
@michielkauwatjoe Dear Michael,

so it is! It's pointing to an installation outside the venv — despite the fact that I do seem to have pip installed inside it.

I'm very sorry for the newbish question, then: how do I call the instance inside the venv explicitly?

Thanks!

[2020-03-02 19:59] michielkauwatjoe commented on #198
@lsalgueiro depends, for me

[code]

(note the dash) works, so check if there's a pip-3.7 in your venv bin folder. It might also be possible to call the command directly using `./path-to`; so from the root of the venv:

[code]

[2020-03-03 09:32] lsalgueiro commented on #198
@michielkauwatjoe I'm very sorry to return to a closed issue, Michael, but this doesn't seem to be the problem after all. Despite `which pip` pointing to the global path, `pagebot` *was* being installed in the virtual env. After calling everything with explicit paths (from pip to the python file), I'm now running up against an error in Vanilla.

[code]

As you can see, Vanilla is also installed in

[2020-03-03 09:38] michielkauwatjoe commented on #198
@lsalgueiro not a problem, that's what issues are for. I think you have the wrong vanilla package. It's a bit confusing but there's another Python package called vanilla. The one we're using is not on PyPi so you need to grab it from github.  We are actually in the process of removing vanilla from the dependencies for this reason, I'll probably upload new versions of pagebot and pagebotcocoa this

[2020-03-03 10:13] lsalgueiro commented on #198
@michielkauwatjoe oops, you were right. I was acquainted with vanilla and aware of this distinction, as it is a dependency for some scripts in another application. However, my first instinct was to do `pip install` before I remembered that I had to do it manually, so I actually wound up with both.

I finally seem to have everything more or less up and running, but the drawing context for the Hello

[2020-03-03 10:20] michielkauwatjoe commented on #198
@lsalgueiro Thanks for pointing that out, I'll fix it. The software is still very much in the beta phase, some examples aren't up to date!

[2020-03-03 11:06] #198 closed

[2020-03-03 15:15] michielkauwatjoe commented on #185
@MauriceMeilleur Hey, both pagebot and pagebotcocoa have been updated. It seems the DrawBot download link for the latest version is not available yet, they're probably still working on it. If you want I could send you a link with the 'pagebot-compatible' DrawBot version that I compiled myself...

[2020-03-04 03:10] MauriceMeilleur commented on #185
Thanks! But I see Frederik has linked 3.123—is that the PB-compatible build?

[2020-03-04 03:15] MauriceMeilleur commented on #185
If it's not up by Friday afternoon (when I can start working with it again) I will totally take you up on that—but I suspect Frederik will have things updated before then. Thank you very much no matter what, though.

[2020-03-04 07:09] justvanrossum commented on #185
The 3.123 download at https://github.com/typemytype/drawbot/releases should be good.

[2020-03-04 09:12] michielkauwatjoe commented on #185
@justvanrossum I'm still getting the same msvc error, even when I update setuptools; actually the version reported by the installer interface stays fixed on 41.2.0

[code]

after which package info says:

[code]

[2020-03-04 09:15] justvanrossum commented on #185
Hm, I wonder why the DB build doesn't pick up the latest setuptools? Perhaps we should list it in requirements.txt, and perhaps it should be listed as a package to include in setupApp.py.

[2020-03-04 10:11] michielkauwatjoe commented on #185
@justvanrossum upgrading setuptools before compiling DrawBot does give the latest version in the DrawBot pip interface, but after a git update I now get the msvc error again.

[2020-03-04 10:13] justvanrossum commented on #185
What kind of git update exactly?

[2020-03-04 10:23] michielkauwatjoe commented on #185
@justvanrossum git update of DrawBot; including 'setuptools' and 'setuptools.msvc' gives a different error;

[code]

Seems like parts of the setup environment are left out when the app is compiled.

[2020-03-04 10:25] justvanrossum commented on #185
Did you include it in the `packages` list in setupApp.py? I think it has to go there, not in the `includes` list.

[2020-03-04 10:35] michielkauwatjoe commented on #185
@justvanrossum that seems to solve it;

[code]

[2020-03-04 12:13] michielkauwatjoe commented on #185
@typemytype I've erased all setuptools version from ~/Library/Application Support/DrawBot/...; the interface did detect a new 45.2 version of setuptools in one of my virtual environments folders. Also removed that one, now it finds the one shipped with the latest download (Version 3.123)

[code]

Which seems to be missing code. Should the installer detect a system-wide version of setuptools instea

[2020-03-04 12:18] justvanrossum commented on #185
I don't quite follow. I thought you were running a DB you built yourself? If you see `/Applications/DrawBot.app/Contents/Resources/lib/python3.7/setuptools-41.2.0.dist-info` then I think you are running `/Applications/DrawBot.app`. I don't see how it can be possible to see that from a different DB app.

[2020-03-04 13:09] michielkauwatjoe commented on #185
@justvanrossum I'm testing both; the above result is of the  one downloaded from the drawbot site, below of the one compiled on my machine.

[2020-03-04 13:13] justvanrossum commented on #185
But we already know that the one from the download is not correct.

I've now lost track as to what is wrong in the local compile... Because on the one hand you write "that seems to solve it", but if it didn't, then what is currently happening exactly?

[2020-03-04 13:17] michielkauwatjoe commented on #185
@justvanrossum @typemytype sorry for the confusion, I was replying to Frederik's question about other versions of setuptools in ~/Library/Application Support in the wrong place (https://github.com/typemytype/drawbot/pull/361#issuecomment-594473366). Updating to 45.2 (locally) did indeed solve it. But I guess Frederik is still wondering if the cause might be something else.

[2020-03-07 14:36] petrvanblokland opened #199 "Error running test of publication.py"
Cannot find the pagebotosx module.Traceback (most recent call last):
  File "/Users/petr/git/PageBot/Lib/pagebot/publications/publication.py", line 16, in <module>
    from pagebot.elements import *
  File "/Users/petr/git/Pagebot/Lib/pagebot/elements/__init__.py", line 73, in <module>
    from pagebot.elements.variablefonts.variablecircle import VariableCircle
  File "/Users/petr/git/Pagebot/Lib/

[2020-03-10 10:49] michielkauwatjoe opened #200 "Overflow2Next"
[code]

See `PageBotExamples/Basics/06_Typography/09_RotatingText.py`.

[2020-04-30 07:44] petrvanblokland opened #201 "Text elements padding does not work right"
Text padding doest not work right:
- in string mode (when Text width is not defined but derived from the native width of the BabelString Text.bs, Text.hasWidth == False), then padding left (Text.pl) and padding right (Text.pr) should be added to the outside Text.w value.
- in textbox mode (when Text.hasWidth == True), then padding left and right should be subtracted from the available width of the

[2020-04-30 07:47] petrvanblokland opened #202 "Fill, stroke and shadow of a sequence of Text boxes does not work."
There is something wrong in the setting and restoring of those properties while drawing in DrawBotContext. Example is PageBotExamples/Basics/5_Text/00_TextAlignment.py

[2020-04-30 10:32] typemytype commented on #202
Could you make a simplified example with only drawBot apis :)

a note:
`save` and `restore` works with settings `font(..)` `fill(1, 0, 0)`and use a `str` to draw in `text("abc", (0, 0))`.

If you use a FormattedString save and restore has no impact.

[2020-06-02 11:12] michielkauwatjoe opened #203 "Port Flat String TextBox to BabelString"
Exact calculation of line heights to make sure text is always visible; Flat truncates lines that are too low.

https://github.com/PageBot/PageBot/blob/c04c1d9df0378a6fc26f5e4775b495e549fe57b3/Lib/pagebot/contexts/flatcontext/flatstring.py

[code]

[2020-06-16 08:20] michielkauwatjoe opened #204 "Text Element"
Differences between DrawBot and Flat:

* Text baseline
* padding
* origin
* alignment

[2020-06-16 12:28] michielkauwatjoe opened #205 "Flat: Image Clipping"
To do, yields a black square.

[2020-07-28 09:40] simoncozens opened #206 "No hyphenation"
Running the hyphenation example (https://github.com/PageBot/PageBotExamples/blob/master/Basics/E03_Text/E18_Hyphenation.py) I get the attached output; DrawBot context has misaligned columns but that's happening in most cases. But there seems to be no difference between hyphenation on and off. This is with git master pagebot, drawbot and flat.
[E18_Hyphenation-DrawBot.pdf](https://github.com/PageBo

[2020-07-28 10:03] michielkauwatjoe commented on #206
Okay, thanks. Hyphenations should work in the DrawBot context, it could be that you're still missing some of its dependencies. There's a script in the installation folder that runs some diagnostics. Assuming you're on OSX, it should return something like this:

[code]

[2020-07-28 10:11] simoncozens commented on #206
Yes, very similar output:

[code]

[2020-07-28 10:16] michielkauwatjoe commented on #206
Okay, great; you're probably right and hyphenation isn't working correctly, probably a small fix in the DrawBot context. The Flat context doesn't support it yet, but we'll probably add it for a limited set of languages soonish.

[2020-10-31 05:08] xyloidhead opened #207 "pagebot 1.0 doesn't run on Windows under Python 3.7.9"
Installed pagebot 1.0, under Python 3.7.9 but it wont run.

The import paths for a few modules seem wrong, which I tried to work around. But then got a error trying to import the sketchapi and I got stuck.

First two errors which appear to be wrong import paths, and a new variable name are:
a)    File "D:\Python37\lib\site-packages\pagebot\contexts\base\basecontext.py", line 25, in <module>
    fr

[2020-11-01 10:26] michielkauwatjoe commented on #207
@xyloidhead Hi, I'm afraid we don't support Windows and won't be anytime soon. PageBot is meant to run on both OS X and Linux, so maybe we should rephrase the introduction line as 'multi-platform'. Thank you for reporting the errors however, we'll look into them.

[2020-11-01 10:56] michielkauwatjoe commented on #207
@xyloidhead FYI: the second error should be fixed, strange enough I didn't encounter the first one however. Also the library name was changed, it's been fixed in the requirements file. Not sure if it's any use to you since we don't support Windows, but the updated version is available from pip now.

Regards,

Michiel.

[2020-11-01 17:49] xyloidhead commented on #207
Thanks for the response. If you aren't supporting windows perhaps look into making your releases less general so pip will not find a package that a Windows user can install. That may save you from the noise generated by people trying to use it on Windows.

Pity Windows isn't supported as Pagebot looks like it would solve a problem I have. But such is life, if no other viable solution presents itse

[2020-11-01 18:00] petrvanblokland commented on #207
@xyloidhead <https://github.com/xyloidhead> There is no fundamental reason for not making PageBot work under WIndows, except that we neither have the experience not the resources or funding for development and testing. PageBot is privately financed, purely solving design and production project inside out studio.
If you are capable to find differences and solve the API problems, that this would be

[2020-11-01 18:15] xyloidhead commented on #207
If there is no reason it shouldn't work I'll clone the repository and see if I can get it to run enought to get through one of your simpler demos. If I can I'll consider looking at other tests, but as usual it will depend on available time.

[2020-11-01 18:43] petrvanblokland commented on #207
@xyloidhead <https://github.com/xyloidhead> You also might want to have a look at
• PageBot/Example https://github.com/PageBot/PageBotExamples
• PageBotNano (which is an incremental educational version of PageBot. Not compatible, but showing the structure from the start in standalone local libraries that don’t need to be installed) https://github.com/PageBot/PageBotNano

Best would be to start mak

[2020-11-03 11:25] #125 closed

[2020-11-03 11:27] michielkauwatjoe opened #208 "Run Lib through Pytest"
Still failing on these:

[code]

[2020-11-03 11:35] michielkauwatjoe opened #209 "MarkDown Warnings"
Some updates needed. `add()`:

[code]

`register()`:

[code]

`md_globals`:

[code]

[2020-11-04 13:12] michielkauwatjoe opened #210 "Warning Installing FontParts"
[code]

[2020-11-05 09:39] #172 closed

[2020-11-05 09:40] #173 closed

[2020-11-05 09:40] #40 closed

[2020-11-05 09:41] #138 closed

[2020-11-05 12:49] felipesanches commented on #40
Closing this issue means that PageBot works nicely on GNU+Linux now? I'm not so sure about that, but I haven't been following this closely lately, so let me know it there's something new that I'm still not aware of.

[2020-11-05 13:01] michielkauwatjoe commented on #40
Hi, the core PageBot functions should work pretty smoothly on Linux now. Most of the files in the examples repo run both the Flat and the DrawBot context, with pretty much the same output (some pixel offsets on font baselines here and there). There's still some more specific parts of the DrawBot implementation to deal with in Flat but I'm putting these in separate issues.

[2020-11-05 13:17] michielkauwatjoe opened #211 "Implement multi-platform Variable implementation"
Using Shoes?

http://shoesrb.com/

[2020-11-05 15:09] felipesanches commented on #40
great, thanks! :-D

[2020-11-09 10:19] michielkauwatjoe opened #212 "Deployment: Minikube"
Test single kube deployment using minikube, see for example:

https://github.com/googlefonts/fontbakery-dashboard

[2020-11-11 14:23] michielkauwatjoe opened #214 "Elements: Publication Context"
Context should be propagated just like with a `Document`; maybe `self.root` instead of `self.doc`?

[code]

[2020-11-11 14:30] michielkauwatjoe opened #215 "Elements: Failing Photobook resolvement"
[code]

[2020-11-16 14:47] michielkauwatjoe opened #216 "Testing: Warnings"
Some warnings generated by pytest;

[code]

[2020-11-17 09:15] michielkauwatjoe opened #217 "Contributions & Dependencies: MarkDown Extensions"
[code]

[2020-11-18 15:44] michielkauwatjoe commented on #216
Fixed.

[2020-11-18 15:44] #216 closed

[2020-11-18 15:45] michielkauwatjoe commented on #217
Fixed, still need to check if priorities are correctly set.

[2020-11-18 15:45] #217 closed

[2020-11-19 09:03] michielkauwatjoe commented on #212
See also:

* https://github.com/googlefonts/fontbakery-dashboard/blob/master/docs/minikube-help.md
* https://github.com/googlefonts/fontbakery-dashboard/issues/3

[2020-11-19 09:35] michielkauwatjoe opened #218 "Server: LAMP"
Implement connection to LAMP for Linux, parallel to MAMP on OS X.

https://help.ubuntu.com/community/ApacheMySQLPHP

[2020-11-24 10:27] michielkauwatjoe commented on #209
Fixed these.

[2020-11-24 10:27] #209 closed

[2020-11-24 10:28] michielkauwatjoe commented on #208
All clear.

[2020-11-24 10:28] #208 closed

[2020-11-24 10:34] michielkauwatjoe opened #219 "Unit Testing: GitHub Workflow"
Create test jobs for:
* ubuntu-latest
* macos-latest

[2020-11-24 10:36] michielkauwatjoe commented on #203
Should be fixed now.

[2020-11-24 10:36] #203 closed

[2020-11-24 10:46] #12 closed

[2020-11-25 09:57] michielkauwatjoe opened #220 "Clean Up Variable Fonts"
* Use fontTools functions instead of own implementations to generate instances.
* Update examples
* Move rest of `variablefontbuilder` functions to `objects.font`

[2020-11-25 09:59] michielkauwatjoe commented on #127
Working okay now.

[2020-11-25 09:59] #127 closed

[2020-11-25 13:30] michielkauwatjoe opened #221 "Coverage"
Get coverage to a respectable level (90%+?).

[2020-11-26 08:47] michielkauwatjoe opened #222 "Cleanup Last Deprecated Files"
[code]

[2020-11-26 09:40] michielkauwatjoe opened #223 "Solve tracking in Flat so we can do another pull request"

[2020-12-01 09:07] michielkauwatjoe opened #224 "OS X Testing Fails"
Might be a mismatch between the developer tools which are MacOSX10.15.sdk  and updates for Big Sur, MacOSX11.0.sdk. Maybe update dev tools first? Continued testing in the PageBotOSX repository.

[code]

[2020-12-01 10:21] michielkauwatjoe commented on #224
See https://github.com/actions/virtual-environments/issues/2056.

[2020-12-14 11:58] michielkauwatjoe commented on #224
Running again with macos-latest.

[2020-12-14 11:58] #224 closed

[2021-01-12 07:49] ElCbo opened #225 "No module named pysketch.sketchapi"
Hi, I'm running from Anaconda 3 (conda version 4.8.3) on windows.
I tried the examples/Basics/E00_Installation/E01_Dependencies.py:
[code]

and tried importing pagebot:

[code]

but pysketch is installed (1.2) and there's no error when importing pysketch only

Any idea? Thanks in advance.
Best regards
Christopher

[2021-01-12 08:06] #225 closed